@charset "utf-8";

.form-control {
	border: solid 1px var(--bs-border-color);
	border-radius: .125rem;
}
/* 
input[type='text'],
input[type='date'],
input[type='number'],
input[type='password'] {
	padding: .25rem .5rem;
	border-radius: .125rem;
	border: solid 1px var(--bs-border-color);
}
*/
select {
	--moz-appearance: none;
	--webkit-appearance: none;
	appearance: none;
	background: url(/resources/images/pano/common/icon-dk-arrow-down.png) no-repeat right 10px center;
	
	padding-right: 1.75rem;
}

select.form-control {
	padding: .25rem 1.75rem .25rem .5rem;
	border-radius: .125rem;
	border: solid 1px var(--bs-border-color);
}

.body-main select {
	background: url(/resources/images/pano/common/icon-arrow-down.png) no-repeat right 10px center;
}
