@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 파노라마용 컬러시스템
 * 작성자 : 김윤지
 * 작성일 : 2024.12.19
 */

:root {

	--header-height: 60px;
	--header-height-md: 48px;
	
	--primary-900: #002542;					/* brand-900 */
	--primary-800: #003C6B;					/* brand-800 */
	--primary-700: #004E8A;					/* brand-700 */
	--primary-600: #0060A9;					/* brand-600 */
	--primary-500: #0076D1;					/* brand-500 */
	--primary-400: #70C1FF;					/* brand-400 */
	--primary-300: #A3D7FF;					/* brand-300 */
	--primary-200: #C2E4FF;					/* brand-200 */
	--primary-100: #D5EDFF;					/* brand-100 */
	--primary-50: #EBF6FF;					/* brand-50 */

	--font-family: "Noto Sans KR", sans-serif;
	--font-family-en: "Roboto", "Noto Sans KR", sans-serif;

	--transition-custom: all 0.4s ease-in-out;
	--transition-custom2: all 0.8s ease-in-out;
	
	/* --bs-- */
	--bs-primary: #0076D1;					/* brand-500 */
	--bs-primary-bg-subtle: #EBF6FF;			/* brand-50 */
	--bs-primary-border-subtle: #D5EDFF;		/* brand-100 */
	
	--bs-link-color: #0076D1;					/* brand-500 */
	--bs-link-hover-color: #0060A9;			/* brand-600 */
	
	/* --bs-dark-bg-subtle: #dae0e7; */
	
	--bs-btn-hover-bg: #004E8A;				/* brand-700 */
	--bs-btn-hover-border-color: #0060A9;		/* brand-600 */
		
	/* --bs-border-color: #DFE2E4; */
}

body {
	background-color: white;
	font-family: var(--font-family), sans-serif;
	color: var(--bs-body-color);
	
	line-height: 1.5;
}

a {
	color: var(--bs-body-color);
	text-decoration: none;
}

a:hover {
	color: var(--bs-link-hover-color);
}

a:active {
	border: none;
}

a[onclick] {
	cursor: pointer;
}

/* btn */
.btn {
	border-radius: .125rem;
}

.hangul_fallback {
	font-family: var(--font-family), sans-serif;
}

.text-primary {
	color: var(--bs-primary) !important;
}

.text-danger {
	color: var(--bs-danger) !important;
}

.text-success {
	color: var(--bs-success) !important;
}

.text-warning {
	color: var(--bs-warning) !important;
}

/* heading */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: var(--bs-body-color);
}


/* scroll */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background-color: var(--bs-gray-200);
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: var(--bs-gray-400);
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}

/* date, time picker icon */
::-webkit-calendar-picker-indicator {
	background: transparent;
	cursor: pointer;
}



/* --bs-color reset */
.btn-primary {
    --bs-btn-bg: #0076D1;							/* brand-500 */
    --bs-btn-border-color: #0076D1;				/* brand-500 */
    --bs-btn-disabled-bg: #0076D1;				/* brand-500 */
    --bs-btn-disabled-border-color: #0076D1;		/* brand-500 */
    --bs-btn-hover-bg: #0060A9;					/* brand-600 */
    --bs-btn-hover-border-color: #004E8A;			/* brand-700 */
    --bs-btn-active-bg: #004E8A;					/* brand-700 */
    --bs-btn-active-border-color: #003C6B;		/* brand-800 */
}
.btn-outline-primary {
    --bs-btn-color: #0076D1;
    --bs-btn-border-color: #0076D1;
    --bs-btn-hover-bg: #0076D1;
    --bs-btn-hover-border-color: #0076D1;
    --bs-btn-active-bg: #0076D1;
    --bs-btn-active-border-color: #0076D1;
    --bs-btn-disabled-color: #0076D1;
    --bs-btn-disabled-border-color: #0076D1;
}

.btn-secondary {
    --bs-btn-bg: #636C76;
    --bs-btn-border-color: #636C76;
    --bs-btn-disabled-bg: #636C76;
    --bs-btn-disabled-border-color: #636C76;
    --bs-btn-hover-bg: #505860;
    --bs-btn-hover-border-color: #505860;
    --bs-btn-active-bg: #505860;
    --bs-btn-active-border-color: #393F44;
}
.btn-outline-secondary {
    --bs-btn-color: #636C76;
    --bs-btn-border-color: #636C76;
    --bs-btn-hover-bg: #636C76;
    --bs-btn-hover-border-color: #636C76;
    --bs-btn-active-bg: #636C76;
    --bs-btn-active-border-color: #636C76;
    --bs-btn-disabled-color: #636C76;
    --bs-btn-disabled-border-color: #636C76;
}

.form-check-input:checked {
    background-color: #0076D1;					/* brand-500 */
    border-color: #0076D1;						/* brand-500 */
}