@charset "utf-8";

.form-check-label {
	cursor: pointer;
}

.form-control,
.form-select {
	border-color: var(--border-neutral-secondary);
}

.form-control:disabled,
.form-select:disabled,
.form-control[readonly],
.form-select[readonly] {
	background-color: var(--bg-neutral-secondary);
}

.form-control.has-dateRangePicker[readonly] {
	background-color: var(--bg-default-default) !important;
}

/* ui-timepicker
.ui-timepicker-input {
    width: 150px;
}
#dailyRiskEntryPopup ~ .ui-timepicker-wrapper {
    width: 150px;
}
 */

/* search-box */
.search-box {
	padding: .5rem .5rem .75rem;
	margin-bottom: 1rem;
	background-color: var(--bg-neutral-tertiary);
	border: solid 1px var(--border-neutral-tertiary);
	border-radius: var(--radius-sm);
}
@media (min-width: 576px) {
	.search-box {
		padding: .5rem 1rem .75rem;
	}
}
@media (min-width: 1232px) {
	.search-box {
		padding: .5rem 1.5rem .75rem;
	}
}

/* search-icon */
.search-icon.btn[disabled] {
	border-color: var(--border-neutral-secondary);
}
.search-icon {
	background-image: url("/resources/images/icons/icon-search-gray.svg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: calc(100% - 8px) center;
}

.search-icon:hover,
.search-icon:focus {
	background-image: url("/resources/images/icons/icon-search-blue.svg");
}

.form-control.search-icon {
	padding-right: 2rem;
}

.form-control.search-icon:disabled {
	background-image: url("/resources/images/icons/icon-search-lightgray.svg");
}

.col:has(.form-control + button.search-icon) {
	position: relative;
}

.col .form-control + button.search-icon {
	position: absolute;
	top: 50%;
    right: 6px;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    background-position: center;
}

/* 기간검색 시작-종료 */
.search-box .row.period-box {
	/* 모바일에서 줄바뀜 허용 : 20260310
	flex-wrap: nowrap;*/
	justify-content: space-between !important;
	gap: .25rem 0;
	--bs-gutter-x: 0;
}

.search-box .row.period-box > .col:has(input[type="date"]) {
	flex: 1 0 calc((100% - 24px) * 0.5);
	max-width: calc((100% - 24px) * 0.5);
}
.search-box .row.period-box > .col:has(.form-control-plaintext) {
	flex-grow: 0;
}
.search-box .row.period-box .form-control-plaintext {
	width: 1.5rem;
	justify-content: center;
}

.row.period-box>[class*='col']:has(input[type="datetime-local"]),
.row.period-box>[class*='col']:has(.icon-calendar) {
	width: 100%;
	max-width: 100%;
}

/* 방문자수 */
.search-box .visitor-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-box .visitor-box > * {
	display: inline-flex;
}

/* 간격 */
.search-box .form-label {
	/*padding: .25rem 0 0;*/
	margin-bottom: .25rem;
	font-size: .875rem;
	font-weight: 700;
	display: inline-block;
}

/* 2026-04-08
.search-box .row {
	--bs-gutter-x: .5rem;
	--bs-gutter-y: .5rem;
	align-items: flex-end;
	justify-content: flex-start;
}
*/
.search-box .row {
	--bs-gutter-x: 1rem;
	--bs-gutter-y: .5rem;
	align-items: flex-end;
	justify-content: flex-start;
}

.search-box .row > * {
	margin-bottom: 0 !important;
}

.search-box .row .btn {
	width: 100%;
	justify-content: center;
	gap: .25rem;
}
@media (min-width: 576px) {
	.search-box .row {
		align-items: flex-end;
	}
}

.search-box .row > .col-form-label {
	line-height: 1.125;
	border-radius: var(--radius-sm);
}
@media (min-width: 816px) {
	.search-box .row:has(.col-form-label) {
		--bs-gutter-x: 0.5rem;
	}
	
	.search-box .row:has(.col-form-label) > div:not(.col-form-label) {
		padding-right: 1.5rem;
	}
}


/* 2025.02.25 yjkim - 검색박스 간격 줄임 */
.search-box .form-control-plaintext:not(.form-label),
.search-box .form-control,
.search-box .form-select,
.search-box .form-check {
	height: 32px;
	padding: .25rem .5rem;
	font-size: .9375rem;
	border-radius: var(--radius-sm);
}
.search-box .btn {
	height: 32px;
    font-size: .9375rem;
    border-radius: var(--radius-sm);
}
.search-box .form-select {
	padding-right: 36px;
}
.search-box .row > * .form-control-plaintext {
	padding: .25rem 0;
	display: flex;
	align-items: center;
}

.search-box .form-check-inline {
	margin-right: 0.25rem;
}

input[type="date"], input[type="week"], input[type="datetime-local"], input.icon-calendar {
	background-image: url(/resources/images/icons/icon-date_range.svg);
}

/* 검색박스 내부 버튼 */
.search-box .btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-items: center;
	gap: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#cctvInstall .btn.btn-install::before,
.search-box .btn:has([class*='material-symbols-'])::before,
.btn.edit-note::before,
.btn.today::before {
	content: '';
	position: relative;
	display:inline-block;
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}

.search-box .icon-search {
	background-size: 24px;
}
.search-box .btn.btn-primary:has([class*='material-symbols-'])::before {
	background-image: url(/resources/images/icons/icon-search-white.svg);
}

.search-box .btn > [class*='icon-search'] {
	background-size: 24px;
}

.form-control.icon-return {
	background-position: right 8px center;
}

.btn.btn-install::before {
	background-image: url(/resources/images/icons/icon-download-white.svg);
}
.btn.edit-note::before {
	background-image: url(/resources/images/icons/edit_note-white.svg);
}
.btn.today::before {
	background-image: url(/resources/images/icons/today-white.svg);
}

/* 방문자수 아이콘 */
.search-box .visitors {
	display: flex;
	align-items: center;
	gap: .25rem .5rem;
}
.search-box .visitors > * {
	display: inline-flex;
	align-items: center;
	gap: .5rem;
	white-space: nowrap;
	font-family: var(--font-family-en), var(--font-family), sans-serif;
	font-size: .9375rem;
}

@media (min-width: 768px) {
	.search-box .visitors {
		gap: 1rem;
	}
	.search-box .visitors > * {
		height: 32px;
	}
}

.icon-groups,
.icon-month,
.icon-person {
	display: inline-flex;
	align-items: center;
	justify-items: center;
	gap: .25rem;
	
	position: relative;
	padding-left: 28px;
}
.icon-groups::before,
.icon-month::before,
.icon-person::before {
	content: '';
	position: absolute;
	left: 0;
	z-index: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	background-color: var(--bg-default-default);
	border: 1px solid var(--border-neutral-secondary);
}

.icon-groups::after,
.icon-month::after,
.icon-person::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: 1;
	display: inline-block;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
}
.icon-groups::after  {
	background-image: url(/resources/images/icons/group_fill-gray.svg);
}
.icon-month::after  {
	background-image: url(/resources/images/icons/calendar_month_fill-gray.svg);
}
.icon-person::after {
	background-image: url(/resources/images/icons/person_fill-gray.svg);
}

.form-check .form-check-input {
    margin-left: 0;
    margin-right: .25rem;
}

.form-check-input:checked {
	background-color: var(--icon-brand-secondary);
	border-color: var(--icon-brand-secondary);
}

/* 타이틀박스내 인풋 */
.title-box .form-select,
.title-box .form-control {
	height: 32px;
	line-height: 1;
}

/* page-move */
.page-move {
	display: flex;
	align-items: center;
}

.page-move .page {
	width: 3.5rem;
	padding: .125rem .5rem .125rem .5rem;
	text-align: right;
}

.page-move .total {
	padding-left: .25rem;
	padding-right: .5rem;
}

.title-box .btn {
	height: 32px;
	--bs-btn-line-height: 1;
}
.title-box .btn-xs,
.title-box .btn-sm {
	--bs-btn-padding-x: .25rem;
	--bs-btn-padding-y: .125rem;
	height: inherit;
}

.title-box > div:has(.btn-box) {
	flex-wrap: wrap;
}

@media (min-width: 1400px) {
	.title-box > div:has(.btn-box) {
		flex-wrap: nowrap;
	}
}

/* 일일안전현황 작업시간 datepicker */
#selected-days-wrap > *:first-child {
    font-size: .875rem;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: .375rem;
}

#selected-days {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    justify-content: flex-start;
}

.table td button.chip-on {
    border: 1px solid var(--border-neutral-default);
    background: var(--bg-default-default);
    color: var(--text-default-default);
    cursor: pointer;
    font-size: .875rem;
    border-radius: 1rem;
    padding: .125rem .75rem;

    margin: 0;
}

.table th.bg-warning,
.table td.bg-warning {
    border-color: var(--bg-warning-default) !important;
}
.table th.bg-warning-subtle,
.table td.bg-warning-subtle {
    border-color: var(--bg-warning-secondaryhover) !important;
}

/* box style */
.gray-box {
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: var(--bg-neutral-tertiary);
	border: 1px dashed var(--border-neutral-tertiary);
	border-radius: .5rem;
	min-height: 128px;
	padding: 1.5rem;
}


