@charset "utf-8";
/* 반응형 설정 */
/*
768px 미만에서는 좌측메뉴 on/off, 768px 이상부터 좌측메뉴 고정
@media (min-width: 768px) {
...
}
1680px 이상에서 헤더 on/off 가능, 아이콘일부 가림처리
@media (min-width: 1680px) {
...
}
1820px 이상에서 실시간현황박스 아이콘 활성
@media (min-width: 1820px) {
...
}
*/
/*#################### 헤더 ####################*/
.header-box {
	width: calc(100% - var(--header-height-md));
	height: var(--header-height-md);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;
}

.header {
	width: 100%;
	height: var(--header-height-md);
	
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	
	background: var(--bg-default-default);
	position: relative;
}

.header>.inner-box {
	flex: 1 0 auto;
	display: flex;
    align-items: center;
	justify-content: flex-start;
}

.header>.inner-box:last-child {
	flex: 1 0 48px;
	max-width: 48px;
}

.header .btn-status {
	display: block;
	
	width: 48px;
	height: 48px;
	
	background: url(/resources/images/icons/icon-power.svg) no-repeat center;
	background-size: 32px 32px;
	
	cursor: pointer;
}

@media (min-width: 1680px) {
	.header>.inner-box:last-child {
		flex: 1 0 auto;
		max-width: 100%;
		justify-content: flex-end;
	}
}

/* logo */
.logo {
	margin-left: auto;
	margin-right: auto;
	height: 48px;
	
	display: flex;
	align-items: center;
	
	background-image: url('/resources/images/logo.svg');
	background-repeat: no-repeat;
	background-position: left 8px;
	background-size: auto 32px;
	padding-left: 68px;
}

.logo .bi {
	display: flex;
	align-items: center;
	gap: .5rem;
	margin-top: .25rem;
}

.logo .bi .system {
	font-weight: 700;
}

.logo .bi>* {
	font-size: 1rem;
	letter-spacing: -0.05rem;
	flex: 1 0 auto;
	gap: .5rem;
}

.logo .bi .branch {
	color: var(--text-default-default);
}
@media (min-width: 1680px) {
	.logo {
		min-width: 200px;
		height: 100%;
		
		display: flex;
		align-items: center;
		justify-content: flex-start;
		
		margin-left: 1rem;
		
		background-position: left center;
		background-size: auto 32px;
		padding-top: .25rem;
		padding-left: 68px;
	}
	.logo .bi {
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}
}
.logo .bi .select-plant {
	position: relative;
	cursor: pointer;

	display: inline-flex;
	align-items: center;
	line-height: 1;
}

.logo .bi .select-plant .icon-arrow {
	display: inline-flex;
	background: url(/resources/images/icons/arrow_drop_down.svg) no-repeat center;
	background-size: 24px;
	width: 1.5rem;
	height: 1.5rem;
}

html[data-theme='dark'] .logo .bi .select-plant .icon-arrow {
	background-image: url(/resources/images/icons/arrow_drop_down-white.svg);
}

.logo .bi:has(.plant-group.active) .select-plant .icon-arrow {
	transform: rotate(180deg);
}

.plant-group {
	display: none;
	position: absolute;
	top: auto;
	margin-top: .5rem;
	z-index: 102;
	
	width: auto;
	flex-direction: column;
	
	background-color: var(--bg-default-default);
	border: 1px solid var(--border-neutral-secondary);
	border-radius: .25rem;
	padding: .25rem;
}

.plant-group.active {
	display: flex;
}

.plant-group span {
	white-space: nowrap;
	cursor: pointer;
	
	display: block;
	padding: .5rem .75rem .375rem;
}

.plant-group span:hover {
	background-color: var(--bg-brand-tertiaryhover);
	border-radius: .25rem;
}

/* 웹용 스타일 */
@media (min-width: 1680px) {
	.header-box {
		transform: translateY(-100px);
		transition: transform .3s ease;
		width: calc(100% - var(--gnb-width));
		left: var(--gnb-width);
	}
	body.header-open .header-box.open {
		transform: translateY(0);
		height: var(--header-height);
	}
	
	.header {
		height: var(--header-height);
		justify-content: space-between;
	}
	
	.header::after {
		content: "";
		width: 100%;
		height: 1px;
		background-color: var(--darker10);
		position: absolute;
		bottom: 0;
	}
	
	.header>.inner-box:last-child>.btn-status {
		display: none;
	}
}

/* operation-status.visible - 모바일 전용 */
.operation-status {
	display: none;
}

.operation-status.visible {
	position: fixed;
	top: 48px;
	right: 0;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	gap: 0;
	
	width: 100%;
	max-width: 416px;
	box-shadow: var(--bs-box-shadow);
	z-index: 102;
}
@media (max-width: 576px) {
	.operation-status.visible {
		max-width: 100%;
	}
}

.operation-status .info-box.safety { grid-column: 1; grid-row: 1; }
.operation-status .info-box.efficiency-9 { grid-column: 1; grid-row: 2; }
.operation-status .info-box.efficiency-10 { grid-column: 1; grid-row: 3; }

.operation-status .overlay-efficiency {
	grid-column: 1;
	grid-row: 2 / 5;
	z-index: 10;
	display: block;
}
@media (min-width: 1680px) {
	.operation-status {
		display: grid;
		height: 100%;
		grid-template-columns: max-content max-content max-content max-content;
	}
	.operation-status .info-box.safety { grid-column: 1; grid-row: 1; }
	.operation-status .info-box.efficiency-9 { grid-column: 2; grid-row: 1; }
	.operation-status .info-box.efficiency-10 { grid-column: 3; grid-row: 1; }
	.operation-status .overlay-efficiency {
		grid-column: 2 / 5;
		grid-row: 1;
		z-index: 10;
		align-self: stretch;
		justify-self: stretch;
	}
}

.operation-status.visible .info-box {
	flex: 1 0 100%;
	border-top: 1px solid var(--darker20);
}
.operation-status.visible .info-box.safety {
	border-color: var(--darker10);
}

/* 칼럼 간격 */
.operation-status.visible .info-box.safety ul>li {
	flex: 1 0 calc( (100% - 2rem) * 0.333 );
}
.operation-status.visible .info-box[class*='efficiency-']>ul>li {
	flex: 1 0 calc( (100% - 1rem) * 0.5 );
}

/* header common */
.operation-status .info-box {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	
	color: var(--text-default-default);
	padding: 1rem;
}

.operation-status .info-box>ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.operation-status .info-box>ul>li {
	padding-left: 2.5rem;
	
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 32px;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 0;
	font-family: var(--font-family-en), sans-serif;
}

.operation-status .info-box>.title {
	display: block;
	margin: 0 0 .25rem;
	
	font-family: var(--font-family), sans-serif;
	font-size: 15px;
	font-weight: 500;
}

.operation-status .info-box>.title>small {
	font-size: 13px;
	font-weight: 700;
}

.operation-status .info-box span {
	font-family: var(--font-family-en), sans-serif;
	font-size: 14px;
	font-weight: 700;
	white-space: nowrap;
}

.operation-status .info-box strong {
	font-size: 16px;
	line-height: 1.2;
}

.operation-status .info-box.safety>.title {
	font-size: 15px;
}
.operation-status .info-box.safety strong {
	font-size: 18px;
}

.operation-status .info-box small {
	display: inline-flex;
	font-size: 13px;
}

.info-box.safety {
	color: var(--info-box-text);
	background-color: var(--info-box-col1-bg);
	position: relative;
}
.operation-status .info-box.safety ul {
	flex-wrap: wrap;
}

/* efficiency */
.info-box.efficiency-9 {
	background-color: var(--info-box-col2-bg);
}

.info-box.efficiency-9,
.info-box.efficiency-9 .title {
	color: var(--info-box-text-inverse);
}

.info-box.efficiency-10 {
	background-color: var(--info-box-col3-bg);
}

.info-box.efficiency-10,
.info-box.efficiency-10 .title {
	color: var(--info-box-text-inverse);
}

@media (min-width: 1600px) {
	.operation-status .info-box {
		height: 100%;
		padding: 0 1.5rem;
		border-left: 1px solid var(--darker10);
	}
	.operation-status .info-box.safety ul {
		flex-wrap: nowrap;
	}
	.operation-status .info-box > ul > li {
		flex: 1 0 auto;
		justify-content: center;
	}
}

@media (min-width: 1599.99px) and (max-width: 1819.99px) {
	.operation-status .info-box ul {
		gap: 1rem;
	}
	/* 일부만 아이콘 제거 */
	.operation-status .info-box.efficiency-9>ul>li,
	.operation-status .info-box.efficiency-10>ul>li {
		padding-left: 0 !important;
		background-size: 0 !important;
	}
}

/* safety */
.operation-status .safety.info-box>ul li.icon01 {
	background-image: url("/resources/images/icons/safety-icon01.svg");
}
.operation-status .safety.info-box>ul li.icon02 {
	background-image: url("/resources/images/icons/safety-icon02.svg");
}
.operation-status .safety.info-box>ul li.icon03 {
	background-image: url("/resources/images/icons/safety-icon03.svg");
}
.operation-status .safety.info-box>ul li.icon04 {
	background-image: url("/resources/images/icons/safety-icon04.svg");
}
.operation-status .safety.info-box>ul li.icon05 {
	background-image: url("/resources/images/icons/safety-icon05.svg");
}
.operation-status .safety.info-box>ul li.icon06 {
	background-image: url("/resources/images/icons/safety-icon06.svg");
}
.operation-status .safety.info-box > ul li.icon07 {
	background-image: url("/resources/images/icons/safety-icon07.svg");
}

.operation-status .safety.info-box > ul li.icon08 {
	background-image: url("/resources/images/icons/safety-icon08.svg");
}
.operation-status .safety.info-box > ul li.icon09 {
	background-image: url("/resources/images/icons/safety-icon09.svg");
}
.operation-status .safety.info-box > ul li.icon10 {
	background-image: url("/resources/images/icons/safety-icon10.svg");
}
.operation-status .safety.info-box > ul li.icon11 {
	background-image: url("/resources/images/icons/safety-icon11.svg");
}
.operation-status .safety.info-box > ul li.icon12 {
	background-image: url("/resources/images/icons/safety-icon12.svg");
}
.operation-status .safety.info-box > ul li.icon13 {
	background-image: url("/resources/images/icons/safety-icon13.svg");
}

/* efficiency */
.efficiency-9.info-box>ul li:first-child {
	background-image: url("/resources/images/icons/efficiency-icon02.svg");
}
.efficiency-9.info-box>ul li:last-child {
	background-image: url("/resources/images/icons/efficiency-icon04.svg");
}
.efficiency-10.info-box>ul li:first-child {
	background-image: url("/resources/images/icons/efficiency-icon03.svg");
}
.efficiency-10.info-box>ul li:last-child {
	background-image: url("/resources/images/icons/efficiency-icon04.svg");
}

/* 임시 - 운전정보작업중 메세지용 */
.header .overlay-efficiency {
	background: linear-gradient(
			to right,
			#0078D4CC 0%,
			#032F52CC 75%,
			#061C2DCC 100%
	);
	backdrop-filter: blur(4px);
}

.header .overlay-efficiency .message {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	
	font-size: 18px;
	text-align: center;
	color: var(--text-default-onneutral);
	font-weight: 500;
}

