@charset "utf-8";
/* 반응형 설정 */
/*
모달팝업용 브레이트포인트 4단계 - 모바일/태블릿/PC(125%, 100%)
@media (min-width: 768px) {
...
}
@media (min-width: 1536px) {
...
}
@media (min-width: 1800px) {
...
}
*/

/*#################### 전체모달 공통 ####################*/
.modal {
	--bs-modal-width: 560px;
}
.modal-content {
	border-radius: 0;
	box-shadow: var(--box-shadow-1);
}
.modal-header {
	justify-content: space-between;
	--bs-modal-header-padding: 0.5rem;
}
.modal-body {
	--bs-modal-padding: 0.5rem;
}

@media (min-width: 576px) {
    .modal {
        --bs-modal-margin: 1rem;
    }
}

@media (min-width: 992px) {
	.modal-header {
		--bs-modal-header-padding: 1rem;
	}
	.modal-body {
		--bs-modal-padding: 1rem;
	}
}

/* 상세보기 팝업 */
.modal.detail-box {
	display: none;
}

.modal.detail-box .modal-header [class*='title'] {
	margin: 0 .125rem;
	flex: 1;
	min-height: 1rem;
}
.modal.detail-box .modal-body {
	/* 20260331 높이 제거 후 flex-grow로 대체
	max-height: calc(80svh);*/
	flex: 1;
}

@media (min-width: 1400px) {
	.modal.detail-box .modal-fullscreen-xxl-down {
		--bs-modal-width: 1280px;
	}
}

.modal.detail-box .modal-body .title-box .title05 {
	margin: 0;
}

/* title */
.modal-body > [class*='title'] {
	margin-top: 0;
}

.alert {
	--bs-alert-margin-bottom: .5rem;
}

/* container- */
[class*='container-'] {
	padding: 1rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

[class*='container-facility']{
	padding: 0;
}

[class*='container-'] > .nav-tabs + .tab-content {
	flex: 1;
	padding-top: 1rem;
	min-height: 0;
}

@media (max-width: 480px) {
	[class*='container-'] {
		padding: .75rem .5rem;
	}
}

/* 사이드 패널 확장, 축소 */
.panel-box {
	display: block;
}

.panel-box > .side-panel,
.panel-box > .contents-panel {
	padding: .5rem;
}

.side-panel {
	vertical-align: top;
	background-color: var(--bg-neutral-tertiary);
}

.side-panel.left {
	border-bottom: solid 1px var(--border-neutral-tertiary);
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.side-panel.left .tab-pane {
	padding-left: 0;
	padding-right: 0;
}

.side-panel.right {
	border-top: solid 1px var(--border-neutral-tertiary);
}

/*.side-panel .tab-content {
	height: calc(100% - 80px);
}
.side-panel .tab-pane {
	padding: 0;
	height: 100%;
}
*/

.contents-panel {
	vertical-align: top;
}

.contents-panel:has(>.nav) {
	display: flex;
	flex-direction: column;
}
.contents-panel:has(>.nav) > .tab-content {
	flex: 1;
	min-height: 0;
	overflow-y: auto;
}
@media (min-width: 1200px) {
	.panel-box {
		/* 높이 꽉 차게 */
		display: flex;
		align-items: stretch;
	}
	.panel-box > .side-panel,
	.panel-box > .contents-panel {
		padding: 1rem;
	}
	.side-panel {
		flex: 1 0 var(--wp-side-panel-width);
		max-width: var(--wp-side-panel-width);

		overflow: hidden;

		/* 높이 꽉 차게 */
		display: flex;
		flex-direction: column;
	}
	.side-panel.left {
		border-bottom: none;
		border-right: solid 1px var(--border-neutral-tertiary);
	}
	.side-panel.right {
		border-top: none;
		border-left: solid 1px var(--border-neutral-tertiary);
	}
	.contents-panel {
		flex: 1;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

/* 검색박스 내 인풋 검색팝업 */
.search-popup {
	display: none;
}

.search-popup .modal-header [class*='title'] {
	margin: 0;
	width: calc(100% - 40px);
	min-height: 1rem;
}
.search-popup .modal-header .btn.close {
	padding: 0;
	background: transparent url(/resources/images/icons/icon-close.svg) no-repeat center;
	background-size: auto;
	display: inline-block;
	width: 24px;
	height: 24px;
}

.search-popup .modal-body {
	/*display: flex;
	flex-direction: column;*/
	/* 20260331 높이 제거
	height: calc(72svh);
	*/
}

/* search-popup > panel-box */
.search-popup .panel-box {
	flex: 1;
	height: 100%;
}

.search-popup .panel-box .jstree-box {
	flex: 1;
	max-height: 48vh;
}

.search-popup .panel-box .contents-panel {
	width: 100%;
	height: auto;
}

.search-popup .title-box {
	gap: .25rem 1rem;
}

/* search-popup.type1 */
.search-popup.type1 .jstree-box {
	height: 100%;
}

/* search-popup.type2 */
.search-popup.type2 .contents-panel .table-responsive {
	height: 380px;
}

/* search-popup.type3 */
.search-popup.type3 .panel-box {
	height: 56svh;
}
.search-popup.type3 .contents-panel .table-responsive {
	height: 320px;
}

.search-popup.type4 .modal-body {
	display: flex;
	flex-direction: column;
}
.search-popup.type4 .modal-body .table-responsive {
	flex: 1;
}

@media (min-width: 1200px) {
	.search-popup .panel-box {
		display: flex;
		align-items: stretch;
		flex: 1;
		min-height: 0;
		gap: 1rem;
	}
	.search-popup .panel-box .side-panel {
		max-width: 280px;
	}
	.search-popup .panel-box .contents-panel {
		flex: 1;
		max-width: calc(100% - 280px - .5rem);
		height: 100%;
	}
	.search-popup .panel-box .jstree-box {
		max-height: 100%;
	}
	
	.search-popup.type2 .panel-box .contents-panel,
	.search-popup.type3 .panel-box .contents-panel {
		padding: 0;
	}
	.search-popup.type2 .contents-panel .table-responsive {
		height: 100%;
		margin-bottom: 0;
	}
	/* 20260331 높이 제거
	.search-popup.type3 .modal-body {
		height: calc(80svh);
	} */
	.search-popup.type3 .panel-box .side-panel {
		flex: 1 0 320px;
	}
	.search-popup.type3 .contents-panel .table-responsive {
		height: calc(100% - 48px);
		margin-bottom: 0;
	}
	
	.search-popup .panel-box > * .nav.nav-pills + .tab-content {
		flex: 1;
		min-height: 0;
		overflow-y: auto;
	}
}

@media (min-width: 768px) {
	.search-popup .title-box .title05 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.search-popup .title-box .form-control.page,
.search-popup .title-box .btn {
	padding: .25rem .5rem;
	font-size: .875rem;
	height: 28px;
}

.search-popup .page-move {
	font-size: .875rem;
}

/* 얼러트 공통 */
.alert.required > p:only-child {
	margin-bottom: 0;
}

/* 설비 팝업 */
.search-input-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
}
.search-input-box .form-select {
	min-height: 40px;
	width: 80px;
}

.search-input-box .form-control {
	min-height: 40px;
	flex: 1;
}

.search-input-box .btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
}

.btn.disabled,
.btn:disabled {
	opacity: .6;
	cursor: default;
}

/* 설비검색 */
.facility-box {
	padding: 1rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.facility-box .jstree-box {
	min-width: 320px;
	flex: 1;
}

/* info-message */
.info-message {
	position: relative;
	padding-left: 1.375rem;
	color: var(--text-neutral-secondary);
	font-weight: 500;
	margin-bottom: var(--space-2);
}

.info-message::before {
	content: '';
	background-image: url('/resources/images/icons/icon-lighting-white.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--bg-danger-accent);
	background-size: 14px;
	
	position: absolute;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1rem;
    top: 50%;
    left: 0;
    transform: translateY(-44%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* jstree 단위 */
.jstree-default .jstree-node {
	min-height: 32px;
}

.jstree-default .jstree-anchor,
.jstree-default .jstree-icon:empty {
	height: 28px;
}

.jstree-anchor {
	padding: 0 8px 0 4px;
}

/* jstree 3D 모델 바로가기 아이콘 */
.jstree-default .jstree-icon.icon-3d {
	margin: 0 4px 0 0;
	background-image: url('/resources/images/icons/icon-view_in_ar-blue.svg');
	background-position: center;
	background-size: auto;
}

.jstree-default .jstree-anchor.jstree-hovered .jstree-icon {
	background-image: url('/resources/images/icons/icon-view_in_ar-darkblue.svg');
}
.jstree-default .jstree-icon.icon-3d.disabled {
	background-image: url('/resources/images/icons/icon-view_in_ar-gray.svg');
	opacity: 0.2;
}

.jstree-box .menu-item {
	display: inline-flex;
	align-items: center;
}

/* jstree menu */
.jstree-box {
	overflow-y: scroll;
	
	background-color: var(--bg-default-default);
	border: solid 1px var(--border-default-default);
	border-radius: var(--radius-sm);

	display: flex;
	min-height: 200px;
	position: relative;
}

.tab-pane .jstree-box:only-child {
	height: 20vh;
}
@media(min-width: 1200px) {
	.tab-pane .jstree-box:only-child {
		height: 100%;
	}
}

/* jstree > search text highlight */
.jstree-default .jstree-search {
	font-style: normal;
	color: var(--text-brand-secondary);
	background-color: rgba(var(--primary-rgb), 0.2) !important;
}

.jstree-default .jstree-search .eye-icon {
	color: var(--text-brand-secondary);
}

/* 대표설비 */
.main-info-box {
	display: flex;
	align-items: center;
	font-weight: 500;
	color: var(--text-neutral-default);
}
.main-info-box [class*='fac-'] {
	margin-right: 1rem;
	line-height: 1.2;
	display: flex;
	align-items: center;
}
.main-info-box [class*='fac-']:last-child {
	margin-right: 0;
}
.main-info-box [class*='fac-'] .badge {
	margin-right: .25rem;
}

/* 설비사진 */
[class*='col-']:has(.facility-photo) .title04 {
	margin-top: 0;
}

.facility-photo {
	display: flex;
	aspect-ratio: 16/9;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: var(--radius-sm);
    background: var(--bg-neutral-tertiary);
}

.facility-photo img {
	width: 100%;
	height: auto;
	aspect-ratio: 16/9;
}

/* TM 현황 */
.chart-box[aria-label="작업요청건수-차트"] .chart-item > *,
.chart-box[aria-label="작업요청-처리현황-차트"] .chart-item > * {
	width: 100%;
	height: 400px;
}

@media (min-width: 1563px) {
	.chart-box[aria-label="작업요청건수-차트"] .chart-item > *,
	.chart-box[aria-label="작업요청-처리현황-차트"] .chart-item > * {
		height: 440px;
	}
}

.chart-box:has(.tui-chart-box) {
	display: flex;
	width: 100%;
}
.chart-box .chart-item:has(.tui-chart-box) {
	flex: 1 0 100%;
	max-width: 100%;
}

.tui-chart-box {
	/* 2025.03.31 yjkim - replace 
	width: 100vw; */
	width: 100%;
	height: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

/* 다발 TM현황 */
.panel-box.multiple-tm {
	height: 100%;
}

.multiple-tm .side-panel.left .nav + .tab-content {
	flex: 1;
}

/* 대시보드 */
.dashboard-box {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	gap: 1.5rem;
	height: 100%;
    overflow-y: auto;
	padding: .5rem 1rem;
	background-color: var(--bg-default-default);
}

.dashboard-box .left,
.dashboard-box .right {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.dashboard-box .table-responsive {
	margin-bottom: 0;
	border-top-width: 2px;
}

.dashboard-box .table.table-sm th,
.dashboard-box .table.table-sm td {
	height: 36px;
}
.dashboard-box th[data-field="환경"],
.dashboard-box th[data-field="성능"]{
	text-align: left;
	padding: .25rem 1rem;
}

.dashboard-box h2 {
	margin-bottom: 0;
}
.dashboard-box .data-group {
	display: flex;
	flex-direction: column;
	
	min-width: 320px;
	gap: 1rem;
}

.data-group .dg-data {
	flex: 1;

	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: 1rem;
}

.output {
	background-color: var(--box-bg-neutral-muted);
	border-radius: calc(var(--bs-border-radius) * 4);
	padding: .5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .5rem;
	flex-wrap: wrap;
}

.output .output-item {
	flex: 1 0 calc((100% - .5rem) * .5);
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--box-bg-neutral-base);
	border: 1px solid var(--box-border-neutral-muted);
	border-radius: calc(var(--bs-border-radius) * 4);
}
.output .output-item:nth-child(1),
.output .output-item:nth-child(2) {
	flex: 1 0 100%;
	border-radius: calc(var(--bs-border-radius) * 4);
	border: 1px solid transparent;
	background-color: var(--box-bg-primary);
	color: var(--box-title-inverse);
	padding: 0 1.5rem;
}
.output .output-item:nth-child(2) {
	background-color: var(--box-bg-primary-strong);
}

@media(min-width: 768px) {
	.output .output-item {
		flex: 1 0 calc((100% - 1.5rem) * .25);
	}
	.output .output-item:nth-child(1),
	.output .output-item:nth-child(2) {
		flex: 1 0 calc((100% - .5rem) * .5);
	}
}

/* chart-box-10 */
.right .output .output-item:nth-child(1),
.right .output .output-item:nth-child(2) {
	background-color: var(--box-bg-info);
	border-color: var(--box-border-info);
	color: var(--box-title-inverse);
}
.right .output .output-item:nth-child(2) {
	background-color: var(--box-bg-info-strong);
	border-color: var(--box-border-info-strong);
}

.output .output-item .text-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5rem;
}
.output .output-item:nth-child(1) .text-box,
.output .output-item:nth-child(2) .text-box {
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
.output .output-item:nth-child(1) strong,
.output .output-item:nth-child(2) strong {
	flex: 1 0 auto;
}
.output .output-item .value {
	font-size: 18px;
}
.output .output-item:nth-child(1) .value,
.output .output-item:nth-child(2) .value {
	font-size: 24px;
	font-weight: 700;
	text-align: right;
}
.output .output-item small {
	font-size: 14px;
}

.card.env-air {
	--bs-card-spacer-y: .75rem;
	--bs-card-spacer-x: 1rem;
	--bs-card-title-spacer-y: 0.5rem;
	--bs-card-border-width: var(--bs-border-width);
	--bs-card-border-color: var(--box-border-neutral-subtle);
	--bs-card-border-radius: calc(var(--bs-border-radius) * 4);
	--bs-card-box-shadow: none;
	--bs-card-cap-padding-y: .75rem;
	--bs-card-cap-padding-x: 1rem;
	--bs-card-cap-bg: transparent;
	--bs-card-bg: var(--box-bg-neutral-subtle);
}
.card.env-air {
	flex: 1;
	--bs-card-border-color: var(--box-border-neutral-subtle);
	--bs-card-bg: var(--box-bg-neutral-subtle);
}
.card.env-air .card-header {
	border-color: transparent;
	padding-bottom: 0;
}
.card.env-air .card-body {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
}

.card.env-air .card-item {
	position: relative;
}
.card.env-air .card-item::after {
	content: '';
	display: block;
	background-color: var(--box-border-neutral-muted);
	
	width: 1px;
	height: 80%;
	position: absolute;
	top: 50%;
	right: -.5rem;
	transform: translateY(-50%);
}
.card.env-air .card-item:last-child::after {
	display: none;
}
.card.env-air .text-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 .25rem;
}
.card.env-air .text-box strong {
	flex: 1 0 100%;
	font-size: 14px;
	font-weight: 700;
}
.card.env-air .text-box strong.value {
	flex: inherit;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.05rem;
	line-height: 1.4;
}
@media(min-width: 768px) {
	.card.env-air {
		--bs-card-spacer-y: 1rem;
		--bs-card-spacer-x: 1.5rem;
		--bs-card-cap-padding-y: 1rem;
		--bs-card-cap-padding-x: 1.5rem;
	}
	.card.env-air .card-body {
		gap: 2rem;
	}
	.card.env-air .card-item {
		flex: 1 0 auto;
	}
	.card.env-air .card-item::after {
		right: -1rem;
	}
	.card.env-air .text-box {
		justify-content: center;
		flex-wrap: nowrap;
		gap: .5em;
	}
	.card.env-air .text-box strong {
		flex: inherit;
	}
	.card.env-air .text-box strong.value {
		font-size: 22px;
		text-align: right;
	}
}

.text-box.temp strong.value {
	color: var(--box-title-danger-strong);
}
.text-box.pressure strong.value {
	color: var(--box-title-primary);
}
.text-box.humid strong.value {
	color: var(--box-title-info-strong);
}

.dashboard-box .dashboard-safety h2 {
	font-size: 1rem;
	margin-bottom: .5rem;
}

.dashboard-safety .ds-group {
	grid-gap: .5rem;
	grid-auto-flow: dense;
}

.dashboard-safety .ds-group.grid--6 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.dashboard-safety .ds-group.grid--6 > :nth-child(6) {
	grid-column: inherit;
}
@media(min-width: 576px) {
	.dashboard-safety .ds-group.grid--6 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
@media(min-width: 720px) {
	.dashboard-safety .ds-group.grid--6 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
@media(min-width: 1600px) {
	.dashboard-safety .ds-group.grid--6 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
}
.dashboard-safety .ds-group > * {
	flex: 1;
	border-radius: calc(var(--bs-border-radius) * 1.5);
	background-color: var(--box-bg-base);
	border: 1px solid var(--box-border-neutral-subtle);
	padding: 0 1rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	font-weight: 700;
}
.dashboard-safety .ds-group .ds-item.is-emphasis {
	background-color: var(--box-bg-primary-subtle);
	border: 1px solid var(--box-border-primary-subtle);
}
.dashboard-safety .ds-group strong {
	color: var(--box-title-neutral);
	font-size: 15px;
	font-weight: 600;
}
.dashboard-safety .ds-group span {
	color: var(--box-title-primary-strong);
	font-size: 20px;
}
.dashboard-safety .ds-group .is-emphasis span {
	color: var(--box-title-primary-stronger);
}

.right .dashboard-safety .ds-group .ds-item.is-emphasis {
	background-color: var(--box-bg-info-subtle);
	border: 1px solid var(--box-border-info-subtle);
}
.right .dashboard-safety .ds-group span {
	color: var(--box-title-info);
}
.right .dashboard-safety .ds-group .is-emphasis span {
	color: var(--box-title-info-stronger);
}

/* 공통 : chart-box */
.chart-box {
	width: 100%;
	border-radius: var(--radius-sm);
	overflow: hidden;
	padding: 0;
	margin: 0 0 1rem;
}

/* 대시보드 차트 */
.dg-chart [class*='chart-box-'] {
	border-radius: 24px;
	overflow: hidden;
}
.chart-box-9 {
	background-color: var(--chart-series-1-bg);
	border: 1px solid var(--chart-series-1-border);
}
.chart-box-10 {
	background-color: var(--chart-series-2-bg);
	border: 1px solid var(--chart-series-2-border);
}
.dashboard-box .chart-item {
	overflow: hidden;
}
.dashboard-box .chart-item > [class*='chart-'] {
	width: 100%;
	height: 320px;
}
.dashboard-box .toastui-chart-wrapper {
	transform: translate(12px, 12px);
	 /*outline: 1px solid red;*/
 }

.dashboard-box .chart-item > .label-box {
	transform: translateY(-16px);
}

@media (min-width: 768px) {
	.dashboard-box {
		padding: 1rem 1.5rem;
	}
	
	.dashboard-box .data-group {
		align-items: stretch;
	}
}
@media (min-width: 992px) {
	.dashboard-box {
		padding: 1.5rem 2rem;
	}
	.dashboard-box .left,
	.dashboard-box .right {
		gap: 1rem;
	}
	.dashboard-box .data-group {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;
	}
	.data-group .dg-chart {
		flex: 1 0 480px;
		max-width: 480px;
	}
	.dashboard-box .chart-item > [class*='chart-'] {
		width: 100%;
		height: 320px;
	}
	.data-group .dg-data {
		gap: 1rem;
	}
}

@media (min-width: 1200px) {
	.dashboard-box {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;
	}
	.dashboard-box > .left,
	.dashboard-box > .right {
		flex: 1 0 calc((100% - 2rem) * .5);
		max-width: calc((100% - 2rem) * .5);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.dashboard-box .data-group {
		gap: 1.5rem;
		margin-bottom: 1rem;
	}
	.data-group .dg-chart {
		flex: 1 0 100%;
		max-width: 100%;
	}
	.dg-chart .label-box {
		padding: 1rem 0;
	}
	.dashboard-box > .dashboard-safety {
		flex: 1 0 100%;
		max-width: 100%;
	}
}

/* 1800px 이상 */
@media (min-width: 1800px) {
	.data-group .dg-chart {
		flex: 1 0 360px;
		max-width: 360px;
	}
}

/* 대시보드내 출력/효율 테이블내 컬러아이콘 */
.dg-data [class*='category0'] {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: var(--space-1);
}
.dg-data .category01 {
	background-color: var(--chart-series-3-fill);
}
.dg-data .category02 {
	background-color: var(--chart-series-2-fill);
}
.dg-data .category03 {
	background-color: var(--chart-series-4-fill);
}

.chart-box > .chart-item {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* */
.chart-box.no-chart {
	margin-bottom: 0 !important;
	min-height: inherit !important;
}
.chart-box.no-chart > .chart-item {
	min-height: inherit;
}

.chart-box.no-chart > .chart-item > .alert {
	margin-bottom: 0;
}

/* 트렌드 팝업 */
#trendModal .chart-box {
	margin-bottom: 0;
}

#trendModal .chart-box .chart.trend {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 예방점검현황 */
.chart-box[aria-label="정비비용-고장경향분석-차트"] {
	background-color: transparent;
	margin-bottom: 0;
}

.chart-box[aria-label="정비비용-고장경향분석-차트"] canvas {
	padding: .5rem;
	border: solid 1px var(--border-default-default);
}

.chart-box[aria-label="정비비용-고장경향분석-차트"] .chart-info {
	font-size: 14px;
	text-align: right;
}

.chart-box[aria-label="정비비용-고장경향분석-차트"] .label-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: .5rem;
	
	flex-wrap: wrap;
	gap: .5rem 1rem;
}

.chart-box[aria-label="정비비용-고장경향분석-차트"] [class*='chart-label'] > input[type="checkbox"] {
	margin-right: .25rem;
}

.chart-label01 {
	color: var(--chart-series-ext-01);
}
.chart-label02 {
	color: var(--chart-series-ext-02);
}
.chart-label03 {
	color: var(--chart-series-ext-03);
}
.chart-label04 {
	color: var(--chart-series-ext-04);
}
.chart-label05 {
	color: var(--chart-series-ext-05);
}
.chart-label06 {
	color: var(--chart-series-ext-06);
}
.chart-label07 {
	color: var(--chart-series-ext-07);
}
.chart-label08 {
	color: var(--chart-series-ext-08);
}
.chart-label09 {
	color: var(--chart-series-ext-09);
}
.chart-label10 {
	color: var(--chart-series-ext-10);
}

/* 방문자조회 */
.modal .container-log {
	padding-top: 0;
	padding-bottom: 0;
}

/* 개선사항 */
.modal.service .modal-header .btn-feedback {
	display: none;
}

/* 메인 - 공지팝업 */
.noticePopup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1100;
	
	width: 96vw;
	
	background-color: var(--bg-default-default);
	border-radius: var(--radius-sm);
	border: 2px solid var(--bg-brand-darkest);
	box-shadow: var(--box-shadow-3);
	overflow: hidden;
	
	display: none;
}

.noticePopup.open {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.noticePopup .noticePopup-contents,
.noticePopup .noticePopup-contents > div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.noticePopup .noticePopup-contents > div  {
	padding: 1.5rem 1rem;
	gap: 1.5rem;
}

.noticePopup-title {
	height: 2rem;
	
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.noticePopup-title > span {
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 700;
	color: var(--text-neutral-default);
	position: relative;
	
	display:inline-block
}
.noticePopup-title > span::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 1.25rem;
	left: 0;
	
	display: inline-block;
	width: 100%;
	height: 12px;
	background-color: var(--bg-brand-tertiaryhover);
}

.noticePopup-text {
	font-size: 1rem;
	line-height: 1.4;
	height: 144px;
	padding-right: .25rem;
	overflow-y: auto;
}
.noticePopup-text p:not(:last-child) {
	margin-bottom: .5rem;
}

.noticePopup-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.noticePopup-footer > * {
	width:100%;
	align-items: center;
	justify-content: space-between;
}

@media (min-width: 576px) {
	.noticePopup {
		width: 560px;
	}
	.noticePopup .noticePopup-contents > div  {
		padding: 1.5rem;
	}
	.noticePopup-title > span {
		font-size: 1.25rem;
	}
	.noticePopup-footer {
		flex-direction: row;
		justify-content: space-between;
		background-color: var(--blue-900);
	}
	.noticePopup-footer > *:first-child {
		justify-content: flex-start;
		padding-left: 1.25rem;
	}
	.noticePopup-footer > *:last-child {
		justify-content: flex-end;
	}
}

.noticePopup-footer div:has(.btn-close) > * {
	margin: 0;
	padding: 0;
}
.noticePopup-footer div:has(.btn-close) {
	display: flex;
	align-items: center;
	gap: 1rem;
	
	background-color: var(--blue-900);
	color: var(--white-900);
	padding: .5rem 1rem;
}
.noticePopup-footer .btn-close {
	background-image: url('/resources/images/icons/icon-close-white.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px;
	opacity: 1;
}

.popup-links {
	display: flex;
	align-items: center;
	justify-content: center;
}
.popup-links .page-link {
	width: 24px;
	height: 40px;
	opacity: .7;
	display: flex;
	align-items: center;
	justify-content: center;
	
	border: none;
	background-color: transparent !important;
	color: var(--text-neutral-default);
}
.popup-links .page-item.active .page-link,
.popup-links .page-item:hover .page-link {
	text-decoration: underline;
	opacity: 1;
	color: var(--text-brand-default);
}
.popup-links .page-item.first .page-link {
	text-indent: -9999em;
	background: url('/resources/images/icons/keyboard_double_arrow_left-gray.svg') no-repeat center;
}
.popup-links .page-item.prev .page-link {
	text-indent: -9999em;
	background: url('/resources/images/icons/keyboard_arrow_left-gray.svg') no-repeat center;
}
.popup-links .page-item.next .page-link {
	text-indent: -9999em;
	background: url('/resources/images/icons/keyboard_arrow_right-gray.svg') no-repeat center;
}
.popup-links .page-item.last .page-link {
	text-indent: -9999em;
	background: url('/resources/images/icons/keyboard_double_arrow_right-gray.svg') no-repeat center;
}

@media (min-width: 576px) {
	.popup-links .page-link {
		color: var(--white-900) !important;
		height: 24px;
	}
	.popup-links .page-item.first .page-link {
		background: url('/resources/images/icons/keyboard_double_arrow_left-white.svg') no-repeat center;
	}
	.popup-links .page-item.prev .page-link {
		background: url('/resources/images/icons/keyboard_arrow_left-white.svg') no-repeat center;
	}
	.popup-links .page-item.next .page-link {
		background: url('/resources/images/icons/keyboard_arrow_right-white.svg') no-repeat center;
	}
	.popup-links .page-item.last .page-link {
		background: url('/resources/images/icons/keyboard_double_arrow_right-white.svg') no-repeat center;
	}
}

/*#################### 서브 ####################*/

/* 버튼박스 */
.btn-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	margin: 1rem 0;
    gap: .25rem;
}

.modal-body .btn-box {
    margin-bottom: 0;
}

/* DailySafety Calendar */
.container-safety .table-responsive {
	margin-bottom: 0;
}
.container-safety .table-responsive:has(.calendar-list) {
	border: none;
	background-color: transparent;
}

/* 달력 */
.panel-box.safety-calendar {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	gap: 1.5rem 0;
}
.panel-box.safety-calendar > * {
	border: none;
}

.panel-box.safety-calendar .side-panel.left {
	flex: 1 0 100%;
	max-width: 100%;
	border-radius: .25rem;
	background-color: var(--bg-neutral-tertiary);
}

.panel-box.safety-calendar .contents-panel {
	flex: 1;
}

.calendar-box {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}
.calendar-box >* {
	flex: 1;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container-safety .calendar-body {
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x proximity;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}
.container-safety .calendar-body::-webkit-scrollbar {
	display: none;
}

.container-safety .calendar-list {
	flex: 1;
	width: fit-content;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

@media(min-width: 528px) {
	.container-safety .calendar-body::-webkit-scrollbar {
		display: block;
	}
}

@media(min-width: 944px) {
	.container-safety .calendar-list {
		max-width: 100%;
		justify-content: space-evenly;
	}
}

.container-safety .cell {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 0 0 40px;
	border-radius: .25rem;
	padding: .25rem;
	color: var(--text-neutral-default);
}

.container-safety .cell.prev-month,
.container-safety .cell.next-month {
	display: none;
}

@media(min-width: 1352px) {
	.container-safety .calendar-body {
		overflow-x: hidden;
	}
	.container-safety .cell.next-month {
		display: flex;
		opacity: 0.5;
	}
	.container-safety .cell.next-month:hover,
	.container-safety .cell.next-month.active {
		opacity: 1;
	}
}

.container-safety .cell.active {
	font-weight: 700;
	color: var(--bg-brand-default);
	position: relative;
}
.container-safety .cell.active::before {
	content: '';
	position: absolute;
	z-index: 0;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	border-radius: .5rem;
	background-color: var(--bg-default-default);
	border: 2px solid var(--black-100);
}

.container-safety .cell .date {
	font-size: 1.25rem;
	font-family: var(--font-family-en), sans-serif;
	font-weight: 700;
	letter-spacing: -0.09375rem;
	z-index: 2;
}
.container-safety .cell .day {
	font-size: .875rem;
	font-weight: 400;
	z-index: 2;
}

.container-safety .cell.saturday,
.container-safety .cell.sunday {
	color: var(--text-danger-secondary) !important;
}

.container-safety .cell:hover {
	cursor: pointer;
	background-color: var(--bg-default-default);
}

/* today */
.container-safety .cell.today {
	background-color: var(--bg-default-default);
	border: 1px solid var(--border-brand-tertiary);
}

/* idms */
.idms-box {
	height: 100vh;
	overflow-y: auto;
	padding: .25rem;
}

.idms-container {
	width: 100%;
	height: 100%;
	font-size: 1rem;
}

.idms-container .nav.nav-underline {
    --bs-nav-link-padding-y: var(--nav-link-padding-y);
    padding: 0 72px 0 .5rem;
    height: 32px;
}

.idms-container .tab-content {
	padding: .5rem;
}

.idms-container .nav-link {
    font-size: .9375rem;
	display: flex;
	align-items: center;
}

.idms-container .nav-link .text {
	flex: 1;
	font-weight: 400;
	color: var(--text-neutral-default);
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media(min-width: 768px) {
	.idms-container .nav-link .text {
		overflow: visible;
	}
}

/* 1200px 이상일 때만 Grid 적용 (2열 x 2행) */
@media (min-width: 1200px) {
	.idms-box {
		overflow-y: hidden;
	}
}

/* idms 그리드 - 공통사용 가능 */
.grid-2x2 {
	--grid-gap: 4px;
	width: 100%;
    height: auto;
	margin: 0 auto;
	box-sizing: border-box;
	
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--grid-gap);
	background-color: var(--bg-neutral-secondary);
	border-radius: .25rem;
	position: relative;
}

/* 각 셀 스타일 */
.grid-2x2 .cell {
	width: 100%;
    height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1 / 1;
	
	position: relative;
	overflow: hidden;
	border-radius: .5rem;
	
	background-color: var(--bg-default-default);
	border: 1px dashed var(--border-neutral-default);
}

/* 1200px 이상일 때만 Grid 적용 (2열 x 2행) */
@media (min-width: 1200px) {
	.grid-2x2 {
        height: 100%;
		grid-template-columns: calc((100% - var(--grid-gap))*.5) calc((100% - var(--grid-gap))*.5);
		grid-template-rows: calc((100% - var(--grid-gap))*.5) calc((100% - var(--grid-gap))*.5);
	}

	.grid-2x2 .cell {
		aspect-ratio: inherit;
		width: auto; /* 그리드 아이템은 열 크기 따라가게 함 */
        height: 100%;
	}
}

/* multiview 화면제어 */
.grid-2x2 .cell .nav-underline + .tab-content {
	padding: 0;
	height: calc(100% - 32px);
}

.grid-2x2 .cell .nav-underline + .tab-content > .tab-pane {
	height: 100%;
	overflow: auto;
	position: relative;
}

#facTabContent {
	padding-top: .75rem;
}
#facTabContent .tab-pane.active {
	padding-left: .25rem;
	padding-right: .25rem;
}

.grid-2x2 .cell .nav-underline + .tab-content > .tab-pane[aria-labelledby="panorama-tab03"] {
	overflow: hidden;
}

.grid-2x2 .cell .nav-underline + .tab-content > .tab-pane iframe  {
	padding: .5rem;
}
.grid-2x2 .cell .unity-box iframe {
	padding: .5rem;
	
}

.cell-control {
	position: absolute;
	top: 4px;
	right: 4px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: .5rem;
    z-index: 2;
}
.cell-control .icon {
	width: 24px;
	height: 24px;
	border-radius: .25rem;
	
	display: inline-flex;
	cursor: pointer;

	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: 20px;
}

.cell-control .icon:hover,
.cell-control .icon.active {
	background-color: var(--bg-neutral-secondary);
}
.icon.show-list {
	background-image: url(/resources/images/icons/stacks.svg);
}
.icon.fullscr {
	background-image: url(/resources/images/icons/fullscreen.svg);
}
.icon.fullscr-close {
	background-image: url(/resources/images/icons/fullscreen_exit.svg);
}

.grid-2x2 .cell:has([id*='panorama-tab'].active) > .cell-control .icon.show-list {
	display: none;
}

/* .cell.fullscreen */
.grid-2x2 .cell.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99998;
	
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed var(--border-neutral-secondary);
}
.cell.fullscreen > .cell-control {
	z-index: 99999;
}

.cell .icon.fullscr-close,
.cell.fullscreen .icon.fullscr {
	display: none;
}

.cell.fullscreen .icon.fullscr-close,
.cell .icon.fullscr {
	display: inline-flex;
}

/* svg-wrapper */
.svg-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.svg-wrapper .viewer,
.svg-wrapper .datalist {
	flex: 1 0 100%;
	max-width: 100%;
}

@media (min-width: 1536px) {
	.svg-wrapper {
		height: 100vh;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: space-between;
		overflow: hidden;
	}
	.svg-wrapper .viewer {
		flex: 1 0 100%;
		max-width: 100%;
	}
}

/* viewer */
.viewer {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: .25rem;
}

.viewer-header {
	flex: 1 0 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: .5rem;
}

.viewer-header >* {
	flex: 1;
	display: flex;
	align-items: center;
	gap: .5rem;
}

.viewer-header .svg-title .btn[class*='icon-'] {
	width: auto;
	background-position: left center;
	padding-left: 2rem;
}

.viewer-header .svg-links {
	justify-content: flex-end;
}

.viewer-body {
	flex: 1;
}

#svgarea {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: var(--bg-default-default);
	
	border: 1px solid var(--border-neutral-tertiary);
	border-radius: .25rem;
	overflow: hidden;
}

/* 연계문서 목록 */
.doc-box {
	position: absolute;
	top: 40px;
	left: 50%;
	height: 300px;
	max-height: calc(100% - 40px);
    transform: translateX(-50%);
	
	width: calc(100vw - 2rem);
	max-width: 480px;
    border-radius: .25rem;
    overflow: hidden;
	display: none;
}
.doc-box.active { 
	display: block; 
	z-index: 2;
	background-color: var(--white-700);
	backdrop-filter: blur(4px);
}

.doc-header {
	font-size: .875rem;
	color: var(--text-default-onneutral);
	background-color: var(--bg-brand-dark);
	padding: .25rem .5rem;
	height: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
	
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
    overflow: hidden;
}
.doc-header .icon.icon-close {
    display: flex;
    width: 20px;
    height: 20px;
    background-image: url(/resources/images/icons/icon-close-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}
.doc-body {
	padding: .5rem 0;
	overflow-y: scroll;
	height: calc(100% - 32px);
    border: 1px solid var(--border-neutral-secondary);
	border-top: none;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.doc-link {
	font-size: .875rem;
	line-height: 1.4;
	
	display: list-item;
	list-style-type: decimal-leading-zero;
	list-style-position: outside;
	margin-inline-start: 2rem;
	margin-bottom: .25rem;
}
.doc-link::marker,
.doc-link > *:first-child {
	font-size: .75rem;
	line-height: 1.2;
}

.doc-link > *:first-child {
	padding: 2px 4px;
	border-radius: 4px;
	background-color: var(--bg-neutral-tertiary);
	display: inline;
}

.doc-link:hover {
	color: var(--text-brand-secondary);
}

/* svg-area */
.svg-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    overflow: auto;
}

/* unity-box */
.cell .unity-box {
	width: 100%;
	height: 100%;
}

/* 일일안전현황 */
.panel-box.safety {
	gap: 0;
	height: 100%;
}

.panel-box.safety .side-panel.left .nav-pills + .tab-content {
	flex: 1;
}

/* 조기경보 */
.container-ew {
	padding: 0;
	overflow-y: auto;
}
.panel-box.ew {
	gap: 0;
	height: 100%;
}
.panel-box.ew > * {
	flex: 1;
	padding: 1rem;
}

.panel-box.ew .side-panel.left .nav-pills + .tab-content {
	flex: 1;
}

.panel-box.ew .ew-tree-box {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	height: 100%;
}
.panel-box.ew .ew-tree-box .nav-tabs + .tab-content {
	flex: 1;
}

/* 조기경보 */
.table-responsive:has(>[aria-label="조기경보-조회결과"]) {
	overflow-y: auto;
	margin-bottom: 0;
}
/*
.table[aria-label="조기경보-조회결과"] {
    min-width: calc(100vw - 360px - 4rem);
}*/
.table[aria-label="조기경보-조회결과"] tr:has([data-field]) {
	display: flex;
	align-items: stretch;
}
.table[aria-label="조기경보-조회결과"] [data-field] {
	display: inline-flex;
    align-items: center;
	justify-content: center;
	white-space: normal;
    word-break: break-all;
}
.table[aria-label="조기경보-조회결과"] [data-field="more"] {
    width: 48px;
}
.table[aria-label="조기경보-조회결과"] [data-field="Occurrence-Time"] {
    width: 168px;
}
.table[aria-label="조기경보-조회결과"] [data-field="Logic"] {
	justify-content: flex-start;
	text-align: left;
	width: 300px;
}
.table[aria-label="조기경보-조회결과"] [data-field="Count"] {
	width: 72px;
}
.table[aria-label="조기경보-조회결과"] [data-field="Diagram"] {
	padding: 0;
	width: 360px;
}
.table[aria-label="조기경보-조회결과"] [data-field="Message"] {
	min-width: 304px;
	flex: 1;
	justify-content: flex-start;
	text-align: left;
}

@media (min-width: 1400px) {
	.table[aria-label="조기경보-조회결과"] [data-field="Logic"] {
		width: 482px;
	}
}

/* 조기경보 diagram */
.diagram-list {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	height: 100%;
	gap: 1px;
	background-color: var(--bg-neutral-tertiary);
}

.diagram-list>* {
	flex: 1;
	max-width: 100%;
	padding: .25rem 0.125rem;
	font-size: .75rem;
	letter-spacing: -.05rem;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-default-default);
}

.diagram-list .ew-occured {
	background-color: var(--red-400);
	color: var(--white);
	font-weight: var(--font-weight-regular);
}
.diagram-list .ew-occured:hover,
.diagram-list .ew-occured.active {
	background-color: var(--bg-danger-default);
	color: var(--white);
}

/* monthly alarm */
body.sub .table[aria-label="조기경보-조회결과"] td[colspan].time-group {
	max-height: 400px;
	overflow: hidden;
	background-color: var(--bg-brand-tertiary);
}

.table[aria-label="조기경보-조회결과"] img {
	width: 16px;
	height: 16px;
}
/*
.tg-box {
	width: 100%;
	max-width: calc(100vw - 10px - 1.5rem);
}*/

.tg-box:has(.no-data) {
	overflow-y: hidden;
}

.tg-title {
	display: flex;
	align-items: baseline;
	padding: .5rem 0 0;
	margin-bottom: .5rem;
	gap: .25rem;
}

.tg-title .total {
	color: var(--text-brand-secondary);
	font-size: .875rem;
}

/* tg-list */
.tg-list {
	display: flex;
	flex-direction: column;
	gap: .25rem .5rem;
	border-bottom: 1px solid var(--border-neutral-secondary);
	padding-bottom: .5rem;
	margin-bottom: .5rem;
}

.tg-list:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.tg-list .item {
	padding: .25rem .75rem;
	
	background-color: var(--bg-default-default);
	border: 1px solid var(--border-neutral-tertiary);
	font-weight: 400;
	font-size: .875rem;
	letter-spacing: -0.025rem;
	white-space: nowrap;
	
	text-align: left;
}

.tg-list .item strong {
	margin-right: .25rem;
}

.time-group .tg-list {
	flex-direction: row;
	flex-wrap: wrap;
}
.time-group .tg-list .item {
	flex: 1 0 calc( (100% - 1rem) * 0.33 );
	max-width: calc( (100% - 1rem) * 0.33 );
}

@media (min-width: 720px) {
	.tg-list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.time-group .tg-list .item {
		flex: 1 0 calc( (100% - 1.5rem) * 0.25 );
		max-width: calc( (100% - 1.5rem) * 0.25 );
	}
}

@media (min-width: 1400px) {
	.table-responsive:has(>[aria-label="조기경보-조회결과"]) {
		max-height: calc(100vh - 200px);
	}
	
	.tg-list .item {
		padding: .25rem .5rem;
	}
}

/* 조기경보 일단위 팝업 */
.ew-popup {
	position: fixed;
	width: 320px;
	height: auto;
	max-height: 320px;

	bottom: 24px;
	right: 24px;

	z-index: 10;
	border-radius: .25rem;
	overflow: hidden;
	border: 1px solid var(--border-neutral-default);
	background-color: var(--bg-default-default);
	box-shadow: var(--box-shadow-1);
	
	display: none;
}

.ew-popup.active {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.ew-popup .ew-header,
.ew-popup .ew-footer {
	display: flex;
	align-items: center;
	padding: .5rem 1rem;
}
.ew-popup .ew-header {
	justify-content: space-between;
	color: var(--text-danger-secondary);
	background-color: var(--bg-danger-tertiary);
}
.ew-popup .ew-header .time {
	color: var(--text-neutral-default);
	font-weight: 500;
	margin-left: .5rem;
}

.ew-popup .ew-body {
	flex: 1;
	overflow-y: auto;
	padding: .5rem 1rem;
}
.ew-popup .ew-body .tg-title {
	font-size: 1rem;
	padding: 0;
	margin-bottom: .25rem;
}

.ew-popup-close {
	background-color: transparent;
	background-image: url(/resources/images/icons/icon-close-gray.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;

	width: 24px;
	height: 24px;
}

/* toast */
.toast {
	--bs-toast-padding-x: var(--space-2);
	--bs-toast-padding-y: var(--space-1);
	--bs-toast-spacing: var(--space-3);
	--bs-toast-max-width: 320px;
	
	--bs-toast-color: var(--text-neutral-default);
	--bs-toast-bg: var(--bg-default-default);
	--bs-toast-header-color: var(--text-neutral-default);
	--bs-toast-header-bg: var(--bg-danger-tertiary);
}
.toast-container {
	--bs-toast-zindex: 10000;
	bottom: .5rem;
	right: 0;
	padding: .5rem;
}

.toast-container>:not(:last-child) {
	--bs-toast-spacing: .5rem;
}

.toast-header {
	justify-content: space-between;
	background-color: var(--bg-danger-tertiary);
	color: var(--text-neutral-default);
	font-size: .875rem;
	font-weight: 700;
}

.toast-header .toast-close {
	background-color: transparent;
	background-image: url(/resources/images/icons/icon-close-gray.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	
	width: 20px;
	height: 20px;
}

html[data-theme="dark"] .toast-header .toast-close {
	background-image: url(/resources/images/icons/icon-close-white.svg);
}

.toast-footer {
	display: flex;
	align-items: center;
	padding: 0 var(--space-2) var(--space-1);
}
.toast-footer .time {
	font-size: .75rem;
}

/* jstree > ztree로 변경 */
.jstree-box .ztree {
	width: 100%;
	height: 100%;
}
.ztree li a {
	color: var(--text-neutral-tertiary);
}
.ztree .fac-name, .ztree .node_name {
    font-size: 1rem;
	font-family: var(--font-family), sans-serif;
}
.ztree li a:hover {
    text-decoration: none;
}

.ztree li span.button {
	background-color: var(--bg-default-default);
}

/* ztree 커스터마이징 */
.ztree li span.button {
	width:24px; height:24px;
	background-image:url("/resources/images/ztree/metro.png");
}
.ztree li span.button.switch {width:24px; height:24px}

.ztree li span.button.root_open{background-position:-105px -76px}
.ztree li span.button.root_close{background-position:-126px -76px}
.ztree li span.button.roots_open{background-position: -105px 0;}
.ztree li span.button.roots_close{background-position: -126px 0;}

.ztree li span.button.center_open{background-position: -105px -25px;}
.ztree li span.button.center_close{background-position: -126px -25px;}
.ztree li span.button.bottom_open{background-position: -105px -53px;}
.ztree li span.button.bottom_close{background-position: -126px -53px;}

.ztree li span.button.noline_open{background-position: -105px -101px;}
.ztree li span.button.noline_close{background-position: -126px -101px;}

.ztree li span.button.root_docu{ background:none;}
.ztree li span.button.roots_docu{background-position: -84px 0;}

.ztree li span.button.center_docu{background-position: -84px -25px;}
.ztree li span.button.bottom_docu{background-position: -84px -53px;}
.ztree li span.button.noline_docu{ background:none;}

/* 3D 모델 연결되는 아이콘 */
.ztree .menu-item {
    display: flex;
	gap: 2px;
	height: 100%;
}
.ztree .menu-item>* {
	display: inline-flex;
	align-items: center;
	margin-right: 0;
}
.ztree .icon-3d {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(/resources/images/icons/icon-view_in_ar-gray.svg);
	background-position: center;
	background-size: 18px;
	background-repeat: no-repeat;
}
.ztree .icon-3d:hover {
	background-image: url(/resources/images/icons/icon-view_in_ar-navy.svg);
}
.ztree .icon-panorama {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(/resources/images/icons/icon-vrpano-gray.svg);
	background-position: center;
	background-size: 18px;
	background-repeat: no-repeat;
}
.ztree .icon-panorama:hover {
	background-image: url(/resources/images/icons/icon-vrpano-navy.svg);
}
.ztree .fs-12 {
	align-items: baseline;
}

/* 검색후 선택된 설비 컬러 */
.ztree li a.curSelectedNode {
	background-color: var(--bg-brand-tertiaryhover);
	opacity: 1;
}
.ztree li a:hover,
.ztree li a.text-highlight {
	color: var(--text-neutral-onneutralsecondary) !important;
}

/* 조기경보 트리메뉴 집계 */
.ztree .fac-name + [class*='fs-12'] {
	letter-spacing: -0.05rem;
}

/* 제어로직 */
[class*='-board'].list {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: .5rem;
}
[class*='-board'].list [class*='-item'] {
	border-radius: .5rem;
	background-color: var(--thumbnail-box-bg);
	border: 1px solid var(--thumbnail-box-border);
	padding: 1rem;
	
	display: flex;
	flex-direction: column;
	gap: .5rem;
	
}
[class*='-board'].list [class*='-item'] [class*='-title'] {
	flex: 1;
	font-weight: 700;
	font-size: 1.125rem;
	color: var(--thumbnail-text);
	display: flex;
	flex-direction: column;
}
[class*='-board'].list [class*='-item'] small {
	color: var(--thumbnail-text-subtle);
}
[class*='-board'].list [class*='-item'] strong {
	line-height: 1.25;
}
[class*='-board'].list [class*='-item'] [class*='-code'] {
	font-size: .875rem;
	color: var(--thumbnail-text-primary);
}
[class*='-board'].list [class*='-item'] img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 160px;
	margin: 0 auto;
	aspect-ratio: 16 / 9;
	
	border-radius: .5rem;
}
[class*='-board'].list [class*='-item']:hover {
	box-shadow: var(--thumbnail-box-shadow);
}

[class*='-board'].list-controlLogic [class*='-item'] img {
	aspect-ratio: 16 / 13;
}

.list-board.list .list-item {
	gap: 2rem;
}

@media (min-width: 720px) {
	[class*='-board'].list {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem 2rem;
	}
	[class*='-board'].list [class*='-item'] {
		padding: 1rem 1.5rem;
		gap: 1rem;
	}
	[class*='thumb-board'].list [class*='-item'] {
		padding: 1.5rem;
	}
	[class*='-board'].list [class*='-item'] img {
		max-width: 60%;
	}
}

@media (min-width: 1400px) {
	.thumb-board.list {
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem 2rem;
	}
}

[class*='-board'].list:has(.no-data) {
	grid-template-columns: repeat(1, 1fr) !important;
	border-top: solid 1px var(--border-neutral-secondary);
	border-bottom: solid 1px var(--border-neutral-secondary);
}

/* cctv-mockup */
.cctv-mockup .cm-header {
	position: relative;
	background: url(/resources/images/sample/cctv-header.png) no-repeat left center;
	background-size: auto;
	height: 50px;
	text-align: right;
}
.cctv-mockup .cctv-close {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 28px;
	background: url(/resources/images/sample/cctv-header.png) no-repeat right top;
}
.cctv-mockup .cm-footer {
	position: relative;
	background: url(/resources/images/sample/cctv-footer.png) no-repeat left center;
	background-size: auto;
	height: 52px;
	padding-right: 100px;
}
.cctv-mockup .cm-footer::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 52px;
	background: url(/resources/images/sample/cctv-footer.png) no-repeat right center;
}

/*  */
.alert.required {
	padding: .5rem 1rem;
	font-size: .875rem;
}

/* qrcode */
.container-qrcode {
	overflow-y: auto;
}

.container-qrcode .grid {
	--grid-item-bg: var(--bg-neutral-tertiary);
	--grid-item-border: var(--border-neutral-tertiary);
}

/* log */
.container-log {
	overflow-y: auto;
}

/* 사용자: 설비검색 > dataPARC, p&id, 관리자: dataPARC, p&id 공통 */
.grid-box {
	display: grid;
	grid-template-columns: 1fr;
	gap: .5rem;
}

@media (min-width: 1600px) {
	.grid-box {
		gap: 1rem 1.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

.grid-cell> * {
	margin: 0;
}
.grid-cell:has(.dataparc-category) {
	background-color: var(--bg-neutral-tertiary);
	border: solid 1px var(--border-neutral-tertiary);
	border-radius: var(--radius-sm);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: .25rem;
	padding: .25rem .5rem;
}

/* dataparc */
.grid.dataparc {
	--grid-item-bg: var(--box-bg-neutral-subtle);
	--grid-item-border: var(--box-border-neutral-subtle);
	--grid-item-padding: .5rem;
}
.dataparc-category {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: .5rem;
}
.dataparc-category.bg02 {
	border: 1px solid var(--darker20);
	background-color: var(--bg-neutral-defaulthover);
}

.dataparc-category > h4 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	max-width: 5rem;
	color: var(--text-neutral-default);
	margin: 0;
	font-size: 1rem;
}

.dataparc-category .category-list {
	flex: 1;
	gap: .25rem;
	display: flex;
	flex-wrap: wrap;
}
.dataparc-category .category-list .btn {
	--bs-btn-padding-y: .125rem;
	--bs-btn-padding-x: .25rem;
	--bs-btn-font-size: .875rem;
	flex: 1;
}

@media(min-width: 1600px) {
	.container-admin .dataparc-iframe {
		height: 70svh;
	}
}

/* app main */
.app-frame {
	position: absolute;
	top: var(--header-height-md);
	left: 0;
	width: 100%;
	height: calc(100dvh - var(--header-height-md));
}
@media(min-width: 768px) {
	.app-frame {
		left: var(--gnb-width);
		width: calc(100% - var(--gnb-width));
		padding: 3rem;
	}
}
@media (min-width: 1680px) {
	.app-frame {
		--header-height-md: 80px;
	}
}
.sub--app-main {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--app-bg);
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.app-main {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto 1fr 1fr;
	gap: 1rem;
	padding: 1rem;

	width: 100%;
	height: 100%;
}
.app-page-title {
	font-size: 1rem;
	font-weight: 700;
	color: var(--app-nav-text);
	display: flex;
	flex-direction: column;
	margin: 0;
}

.app-nav-group {
	flex: 1;
	display: grid;
	border-radius: var(--radius-md);
}

.app-nav-group--primary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr 1fr;
	gap: .5rem;
	padding: .5rem;
	
	background-color: var(--app-group-surface);
	border: 1px solid var(--app-group-border);
	box-shadow: var(--box-shadow-1);
}

.app-nav-group--secondary {
	grid-template-columns: 1fr;
	gap: .5rem;
}

.app-nav-item {
	display: flex;
	
	border-radius: var(--radius-md);
	color: var(--app-nav-text);
	border: solid 1px var(--app-nav-border);
	
	background-color: var(--app-nav-bg);
	background-repeat: no-repeat;
	background-position: center right 1.5rem;
	padding: 1rem 1.5rem;
}
.app-nav-item strong {
	display: flex;
	flex-direction: column;
}
.app-nav-item strong small {
	font-size: 80%;
}

.app-nav-group--primary .app-nav-item {
	font-size: 20px;
	font-weight: 700;
	flex-direction: column;
	border-color: var(--app-nav-border);
}
.app-nav-group--secondary .app-nav-item {
	font-size: 18px;
	align-items: center;
	justify-content: space-between;
	
	flex: 1;
	background-color: var(--app-nav-bg);
	border: solid 1px var(--app-nav-border);
}

@media (min-width: 992px) {
	.app-nav-group--secondary {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.app-nav-group--secondary .app-nav-item {
		flex-direction: column;
		align-items: flex-start;
		background-position: bottom 1.5rem right 1.5rem;
	}
}

.app-nav-item[ data-title="로그시트"] {
	grid-column: 1;
	grid-row: 1 / 3;
	color: var(--app-nav-primary-text);
	border-color: var(--app-nav-primary-border);
	background-color: var(--app-nav-primary-bg);
	background-image: url(/resources/images/icons/appicon-qrcode.svg);
	
	padding: 1rem;
	background-position: bottom 1rem right 1rem;
}
.app-nav-item[ data-title="조기경보"] {
	background-image: url(/resources/images/icons/appicon-alarm.svg);
	padding: 1rem;
	background-position: bottom 1rem right 1rem;
}
.app-nav-item[ data-title="3D모델"] {
	background-image: url(/resources/images/icons/appicon-3d-model.svg);
	padding: 1rem;
	background-position: bottom 1rem right 1rem;
}
.app-nav-item[ data-title="일일안전작업현황"] {
	background-image: url(/resources/images/icons/appicon-wp-safety.svg);

}
.app-nav-item[ data-title="파노라마"] {
	background-image: url(/resources/images/icons/appicon-panorama.svg);

}
.app-nav-item[ data-title="설비검색"] {
	background-image: url(/resources/images/icons/appicon-data-folder.svg);

}
.app-nav-item[ data-title="개선사항"] {
	background-image: url(/resources/images/icons/appicon-service.svg);

}

