@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 디자인토큰 - 컴포넌트
 * 작성자 : 김윤지
 * 작성일 : 2026.04.18
 */

/* Component Tokens */
:root {
	--scrollbar-size-sm: 2px;
	--scrollbar-size-md: 4px;
	--scrollbar-size-lg: 8px;

	--scrollbar-bg: var(--surface-neutral-muted);
	--scrollbar-thumb: var(--surface-neutral-strong);
	--scrollbar-thumb-hover: var(--surface-neutral-stronger);

	--scrollbar-nav-bg: var(--surface-primary-emphasis);
	--scrollbar-nav-thumb: var(--surface-primary-strong);
	--scrollbar-nav-thumb-hover: var(--surface-primary);

	--focus-ring: rgba(var(--primary-rgb), 0.7);
	/* select-group */
	--group-text: var(--text-base);
	--logo-text: var(--text-base);
	--logo-divider: var(--border-neutral-muted);
	
	/* header */
	--info-box-text: var(--text-base);
	--info-box-text-inverse: var(--text-inverse);
	--info-box-col1-bg: var(--surface-neutral-subtle);
	--info-box-col2-bg: var(--surface-primary-stronger);
	--info-box-col3-bg: var(--surface-info-strong);
	
	/* nav-group */
	--app-bg: var(--surface-neutral-subtle);
	--app-group-surface: var(--surface-neutral-muted);
	--app-group-border: var(--border-inverse);
	--app-nav-text: var(--text-base);
	--app-nav-bg: var(--surface-neutral-base);
	--app-nav-border: var(--border-neutral-muted);
	--app-nav-primary-text: var(--text-inverse);
	--app-nav-primary-bg: var(--surface-primary-strong);
	--app-nav-primary-border: var(--border-primary);
	
	/* Box */
	--box-bg-neutral-base: var(--surface-neutral-base);
	--box-bg-neutral-subtle: var(--surface-neutral-subtle);
	--box-bg-neutral-muted: var(--surface-neutral-muted);
	--box-bg-neutral-strong: var(--surface-neutral-strong);
	
	--box-border-neutral-base: var(--border-neutral-base);
	--box-border-neutral-subtle: var(--border-neutral-subtle);
	--box-border-neutral-muted: var(--border-neutral-muted);
	--box-border-neutral-strong: var(--border-neutral-strong);
	
	/* box-bg-primary */
	--box-bg-primary: var(--surface-primary);
	--box-bg-primary-strong: var(--surface-primary-strong);
	--box-bg-primary-stronger: var(--surface-primary-stronger);
	--box-bg-primary-subtle: var(--surface-primary-subtle);
	
	/* border-bg-primary */
	--box-border-primary: var(--border-primary);
	--box-border-primary-strong: var(--border-primary-strong);
	--box-border-primary-subtle: var(--border-primary-subtle);
	
	/* box-bg-info */
	--box-bg-info: var(--surface-info);
	--box-bg-info-strong: var(--surface-info-strong);
	--box-bg-info-stronger: var(--surface-info-stronger);
	--box-bg-info-subtle: var(--surface-info-subtle);
	
	/* border-bg-info */
	--box-border-info: var(--border-info);
	--box-border-info-strong: var(--border-info-strong);
	--box-border-info-stronger: var(--border-info-stronger);
	--box-border-info-subtle: var(--border-info-subtle);
	
	/* box-title */
	--box-title-neutral: var(--text-base);
	--box-title-primary: var(--text-primary);
	--box-title-primary-strong: var(--text-primary-strong);
	--box-title-primary-stronger: var(--text-primary-stronger);
	--box-title-danger: var(--text-danger);
	--box-title-danger-strong: var(--text-danger-strong);
	--box-title-danger-stronger: var(--text-danger-stronger);
	--box-title-info: var(--text-info);
	--box-title-info-strong: var(--text-info-strong);
	--box-title-info-stronger: var(--text-info-stronger);
	--box-title-inverse: var(--text-inverse);
	
	/* layout */
	--grid-gap: 16px;
	--grid-auto-min: 160px;
	
	--grid-item-bg: var(--surface-neutral-base);
	--grid-item-border: var(--border-neutral-subtle);
	--grid-item-padding: 16px;
	--grid-item-radius: 8px;
	
	--form-block-bg: var(--surface-neutral-base);
	--form-block-border: var(--border-neutral-subtle);
	
	/* thumb-board */
	--thumbnail-box-bg: var(--surface-neutral-base);
	--thumbnail-box-border: var(--border-neutral-muted);
	--thumbnail-box-shadow: var(--box-shadow-1);
	--thumbnail-text: var(--text-base);
	--thumbnail-text-subtle: var(--text-muted);
	--thumbnail-text-primary: var(--text-primary);
	
	/* table */
	--nodata-bg: var(--surface-neutral-subtle);
	--table-text: var(--text-base);
	--table-text-active: var(--text-primary-emphasis);
	
	--table-bg: var(--surface-neutral-subtle);
	--table-bg-active: var(--surface-primary-muted);
	--table-bg-primary: var(--surface-primary-subtle);
	--table-bg-success: var(--surface-success-subtle);
	--table-bg-danger: var(--surface-danger-subtle);
	--table-bg-warning: var(--surface-warning-subtle);
	--table-bg-info: var(--surface-info-subtle);
	
	--table-th-bg: var(--surface-neutral-muted);
	--table-th-bg-subtle: var(--surface-neutral-subtle);
	--table-th-border: var(--border-neutral-muted);
	--table-th-border-strong: var(--border-neutral-strong);
}

@media (min-width: 768px) {
	:root {
		--grid-auto-min: 240px;
	}
}

@media (min-width: 992px) {
	:root {
		--grid-auto-min: 360px;
	}
}

@media (min-width: 1200px) {
	:root {
		--grid-auto-min: 400px;
	}
}


/* Bootstrap Override */
:root {

	/* btn */
	--bs-border-radius: var(--radius-sm);
	--bs-border-radius-xs: calc(var(--radius-sm) * 0.5);
	
	/* border */
	--bs-border-color: var(--border-neutral-strong);
	
	/* BS override style */
	--bs-heading-color: var(--text-base);
	--bs-body-bg: var(--surface-neutral-base);
	--bs-body-color: var(--text-muted);
	
	--bs-box-shadow-lg: var(--box-shadow-3);
	
	--bs-nav-link-font-size: 1rem;
	--bs-nav-link-padding-y: var(--nav-link-padding-y);
	
	--bs-nav-link-color: var(--text-subtle);
	--bs-nav-link-hover-color: var(--text-primary-strong);
	--bs-nav-underline-link-active-color: var(--text-primary-strong);
	--bs-nav-pills-link-active-bg: var(--surface-primary);
	--bs-primary-rgb: var(--primary-rgb);
	
	--bs-link-color: var(--text-subtle);
	--bs-link-hover-color: var(--text-primary-strong);
	--bs-secondary-color: var(--text-stronger);
	--bs-emphasis-color: var(--text-primary-strong);

    --bs-toast-color: var(--text-subtle);
    --bs-toast-bg: var(--surface-neutral-base);
	--bs-toast-header-bg: var(--surface-danger-subtle);
	--bs-toast-header-color: var(--text-subtle);
	--bs-btn-bg: var(--surface-neutral-base);
}