@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 공통 컬러시스템
 * 작성자 : 김윤지
 * 작성일 : 2025.10.16
 */

:root {
	--black-50: #11111105;
	--black-100: #1111110D;
	--black-200: #11111133;
	--black-300: #1111114D;
	--black-400: #11111166;
	--black-500: #111111A3;
	--black-600: #111111B7;
	--black-700: #111111D6;
	--black-800: #111111EB;
	--black-900: #111111FF;
	
	--white-50: #ffffff0D;
	--white-100: #ffffff1A;
	--white-200: #ffffff33;
	--white-300: #ffffff4D;
	--white-400: #ffffff66;
	--white-500: #ffffffA3;
	--white-600: #ffffffB7;
	--white-700: #ffffffD6;
	--white-800: #ffffffEB;
	--white-900: #ffffffFF;
	
	--blue-50: #F5FBFF;
	--blue-100: #DBF0FF;
	--blue-200: #B4E0FF;
	--blue-300: #73BDFA;
	--blue-400: #45A5F5;
	--blue-500: #0078D4;
	--blue-600: #0060A9;
	--blue-700: #043C66;
	--blue-800: #092C47;
	--blue-900: #0A2133;
	
	--red-50: #FFF7F9;
	--red-100: #FFEBF0;
	--red-200: #FFD6E2;
	--red-300: #FFADC5;
	--red-400: #FF1255;
	--red-500: #DF134C;
	--red-600: #B30435;
	--red-700: #840025;
	--red-800: #5B001A;
	--red-900: #3E0011;
	
	--green-50: #F7FAF9;
	--green-100: #E2F6E7;
	--green-200: #BBE6C5;
	--green-300: #91E0A2;
	--green-400: #34A34C;
	--green-500: #26873B;
	--green-600: #207733;
	--green-700: #185626;
	--green-800: #21582D;
	--green-900: #254B2D;
	
	--orange-50:  #FFF6F0;
	--orange-100: #FFE8D9;
	--orange-200: #FFD1B3;
	--orange-300: #FFAA66;
	--orange-400: #FF7A00;
	--orange-500: #CC6100;
	--orange-600: #A34D00;
	--orange-700: #7A3900;
	--orange-800: #522600;
	--orange-900: #331800;
	
	--pink-50: #FFF0FB;
	--pink-100: #F5D3EB;
	--pink-200: #FFB8EB;
	--pink-300: #FF99E2;
	--pink-400: #FF66D2;
	--pink-500: #CC0092;
	--pink-600: #99006D;
	--pink-700: #650B4C;
	--pink-800: #450C35;
	--pink-900: #260D1F;
	
	--yellow-50: #FFF8EB;
	--yellow-100: #F5E4C4;
	--yellow-200: #FFE3AD;
	--yellow-300: #FACC6E;
	--yellow-400: #FAB832;
	--yellow-500: #E5A012;
	--yellow-600: #A06C03;
	--yellow-700: #7A5200;
	--yellow-800: #503701;
	--yellow-900: #3B2802;
	
	--purple-50: #FDF5FF;
	--purple-100: #FAE5FF;
	--purple-200: #F7CCFF;
	--purple-300: #EE99FF;
	--purple-400: #E770FF;
	--purple-500: #CC00F5;
	--purple-600: #AB00CC;
	--purple-700: #7F0099;
	--purple-800: #550066;
	--purple-900: #33003D;
	
	--cyan-50:  #EFFBFE;
	--cyan-100: #CAEEF6;
	--cyan-200: #9FDFEF;
	--cyan-300: #66D8F5;
	--cyan-400: #28BCE2;
	--cyan-500: #0080A0;
	--cyan-600: #016179;
	--cyan-700: #015165;
	--cyan-800: #014151;
	--cyan-900: #01313D;
	
	--slate-50: #F7F8FA;
	--slate-100: #EBEFF5;
	--slate-200: #CAD1DC;
	--slate-300: #B6BFCC;
	--slate-400: #99A4B2;
	--slate-500: #5E6570;
	--slate-600: #535963;
	--slate-700: #454A52;
	--slate-800: #31343A;
	--slate-900: #1D2023;
	
	--gray-50: #FAFAFA;
	--gray-100: #E5E5E5;
	--gray-200: #E0E0E0;
	--gray-300: #CCCCCC;
	--gray-400: #B8B8B8;
	--gray-500: #767676;
	--gray-600: #4D4D4D;
	--gray-700: #3D3D3D;
	--gray-800: #333333;
	--gray-900: #242424;
}

:root {
	--header-height: 80px;
	--header-height-md: 48px;
	--unity-height: 48px;
	
	--gnb-top: var(--header-height);
	--gnb-width: 48px;
    --gnb-width-active: 200px;

    --gnb-font-weight-normal: 400;
    --gnb-font-weight-bold: 500;
    --gnb-font-size-depth1: 14px;
    --gnb-font-size-depth2: 13px;
    --gnb-font-size-depth3: 12px;

	--wp-modal-width: 1864px;
	--wp-side-panel-width: 360px;
	--wp-mordal-split-padding: 2.5rem;
	
	--font-family: "Noto Sans KR";
	--font-family-en: "Roboto", "Noto Sans KR", sans-serif;
	
	--transition-custom: all 0.4s ease-in-out;
	--transition-custom2: all 0.8s ease-in-out;
	
	/* 테두리 */
	--radius-sm: 4px;
	--radius-md: 8px;
	--radius-lg: 16px;
	--radius-full: 9999px;
	
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	
	/* nav */
	--nav-link-padding-y: 4px;
	
	/* space */
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	
	--grid-gap: .25rem;
	
	/* box-shadow */
	--box-shadow-1: 0 0px 8px 0 rgba(0, 0, 0, 0.24);
	--box-shadow-2: 0 0px 4px 0 rgba(0, 0, 0, 0.24);
	--box-shadow-3: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	--winbox-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.64);
	
	--white: var(--white-900);
	--primary-rgb: 0, 120, 212;
	
	--bg-default-default: var(--white);
	--bg-default-defaulthover: var(--gray-50);
	--bg-default-secondary: var(--gray-100);
	--bg-default-secondaryhover: var(--gray-200);
	--bg-default-tertiary: var(--gray-300);
	--bg-default-tertiaryhover: var(--gray-400);
	
	--bg-neutral-default: var(--slate-500);
	--bg-neutral-defaulthover: var(--slate-600);
	--bg-neutral-secondary: var(--slate-100);
	--bg-neutral-secondaryhover: var(--slate-200);
	--bg-neutral-tertiary: var(--slate-50);
	--bg-neutral-tertiaryhover: var(--slate-100);
	--bg-neutral-inverse: var(--slate-700);
	--bg-neutral-inversehover: var(--slate-800);
	
	--bg-brand-default: var(--blue-500);
	--bg-brand-defaulthover: var(--blue-600);
	--bg-brand-secondary: var(--blue-200);
	--bg-brand-secondaryhover: var(--blue-300);
	--bg-brand-tertiary: var(--blue-50);
	--bg-brand-tertiaryhover: var(--blue-100);
	--bg-brand-dark: var(--blue-700);
	--bg-brand-darkhover: var(--blue-800);
	--bg-brand-darkest: var(--blue-900);
	
	--bg-positive-default: var(--green-500);
	--bg-positive-defaulthover: var(--green-600);
	--bg-positive-secondary: var(--green-200);
	--bg-positive-secondaryhover: var(--green-300);
	--bg-positive-tertiary: var(--green-50);
	--bg-positive-tertiaryhover: var(--green-100);
	
	--bg-warning-default: var(--yellow-400);
	--bg-warning-defaulthover: var(--yellow-500);
	--bg-warning-secondary: var(--yellow-200);
	--bg-warning-secondaryhover: var(--yellow-300);
	--bg-warning-tertiary: var(--yellow-50);
	--bg-warning-tertiaryhover: var(--yellow-100);
	
	--bg-danger-default: var(--red-600);
	--bg-danger-defaulthover: var(--red-700);
	--bg-danger-secondary: var(--red-200);
	--bg-danger-secondaryhover: var(--red-300);
	--bg-danger-tertiary: var(--red-100);
	--bg-danger-tertiaryhover: var(--red-200);
	--bg-danger-accent: var(--red-400);
	
	--bg-disabled-default: var(--slate-50);
	
	--bg-danger-highlight: #ff6c47;
	
	/* text */
	--text-default-default: var(--gray-900);
	--text-default-secondary: var(--gray-500);
	--text-default-tertiary: var(--gray-400);
	--text-default-onneutral: var(--white);
	
	--text-neutral-default: var(--slate-800);
	--text-neutral-secondary: var(--slate-700);
	--text-neutral-tertiary: var(--slate-600);
	--text-neutral-onneutral: var(--slate-100);
	--text-neutral-onneutralsecondary: var(--slate-900);
	--text-neutral-onneutraltertiary: var(--slate-800);
	
	--text-brand-default: var(--blue-700);
	--text-brand-secondary: var(--blue-600);
	--text-brand-tertiary: var(--blue-500);
	--text-brand-onneutral: var(--blue-100);
	--text-brand-onneutralsecondary: var(--blue-900);
	--text-brand-onneutraltertiary: var(--blue-800);
	
	--text-disabled-default: var(--gray-500);
	--text-disabled-ondisabled: var(--gray-500);
	
	--text-positive-default: var(--green-800);
	--text-positive-secondary: var(--green-600);
	--text-positive-tertiary: var(--green-500);
	--text-positive-onneutral: var(--green-100);
	--text-positive-onneutralsecondary: var(--green-800);
	--text-positive-onneutraltertiary: var(--green-700);
	
	--text-warning-default: var(--yellow-800);
	--text-warning-secondary: var(--yellow-600);
	--text-warning-tertiary: var(--yellow-500);
	--text-warning-onwarning: var(--yellow-100);
	--text-warning-onwarningsecondary: var(--yellow-800);
	--text-warning-onwarningtertiary: var(--yellow-700);
	
	--text-danger-default: var(--red-700);
	--text-danger-secondary: var(--red-600);
	--text-danger-tertiary: var(--red-300);
	--text-danger-ondanger: var(--red-100);
	--text-danger-ondangersecondary: var(--red-800);
	--text-danger-ondangertertiary: var(--red-700);
	
	/* border */
	--border-default-default: var(--gray-200);
	--border-default-secondary: var(--gray-400);
	--border-default-tertiary: var(--gray-600);
	--border-default-white: var(--white);
	
	--border-neutral-default: var(--slate-300);
	--border-neutral-secondary: var(--slate-200);
	--border-neutral-tertiary: var(--slate-100);
	--border-neutral-inverse: var(--slate-700);
	--border-neutral-inversehover: var(--slate-800);
	
	--border-brand-default: var(--blue-600);
	--border-brand-secondary: var(--blue-500);
	--border-brand-tertiary: var(--blue-50);
	--border-brand-tertiaryhover: var(--blue-100);
	--border-brand-dark: var(--blue-700);
	--border-brand-darkhover: var(--blue-800);
	
	--border-positive-default: var(--green-800);
	--border-positive-secondary: var(--green-600);
	--border-positive-tertiary: var(--green-500);
	
	--border-warning-default: var(--yellow-800);
	--border-warning-secondary: var(--yellow-700);
	--border-warning-tertiary: var(--yellow-600);
	
	--border-danger-default: var(--red-800);
	--border-danger-secondary: var(--red-700);
	--border-danger-tertiary: var(--red-600);
	
	--border-disabled-default: var(--slate-100);
	--border-disabled-ondisabled: var(--slate-200);
	
	/* icon */
	--icon-default-default: var(--gray-900);
	--icon-default-secondary: var(--gray-500);
	--icon-default-tertiary: var(--gray-400);
	--icon-default-onneutral: var(--gray-100);
	--icon-default-onneutralsecondary: var(--gray-300);
	--icon-default-onneutraltertiary: var(--gray-500);
	--icon-default-white: var(--white);
	
	--icon-neutral-default: var(--slate-800);
	--icon-neutral-secondary: var(--slate-700);
	--icon-neutral-tertiary: var(--slate-600);
	--icon-neutral-onneutral: var(--slate-100);
	--icon-neutral-onneutralsecondary: var(--slate-300);
	--icon-neutral-onneutraltertiary: var(--slate-500);
	--icon-neutral-black: var(--slate-900);
	
	--icon-brand-default: var(--blue-800);
	--icon-brand-secondary: var(--blue-600);
	--icon-brand-tertiary: var(--blue-50);
	--icon-brand-onneutral: var(--blue-100);
	--icon-brand-onneutralsecondary: var(--blue-300);
	--icon-brand-onneutraltertiary: var(--blue-500);
	
	--icon-positive-default: var(--green-800);
	--icon-positive-secondary: var(--green-600);
	--icon-positive-tertiary: var(--green-500);
	--icon-positive-onneutral: var(--green-100);
	--icon-positive-onneutralsecondary: var(--green-300);
	--icon-positive-onneutraltertiary: var(--green-500);
	
	--icon-warning-default: var(--yellow-800);
	--icon-warning-secondary: var(--yellow-600);
	--icon-warning-tertiary: var(--yellow-500);
	--icon-warning-onwarning: var(--yellow-100);
	--icon-warning-onwarningsecondary: var(--yellow-300);
	--icon-warning-onwarningtertiary: var(--yellow-500);
	
	--icon-danger-default: var(--red-800);
	--icon-danger-secondary: var(--red-600);
	--icon-danger-tertiary: var(--red-500);
	--icon-danger-ondanger: var(--red-100);
	--icon-danger-ondangersecondary: var(--red-300);
	--icon-danger-ondangertertiary: var(--red-500);
	
	--icon-disabled-default: var(--gray-400);
	--icon-disabled-ondisabled: var(--gray-400);

	/* chart : --chart-[scope]-[series]-[role]*/
	/* 1: neutral */
	--chart-series-1-bg: var(--slate-50);
	--chart-series-1-border: var(--slate-100);
	--chart-series-1-fill: var(--slate-500);
	--chart-series-1-fill-strong: var(--slate-600);
	--chart-series-1-text: var(--slate-700);

	/* 2: cyan */
	--chart-series-2-bg: var(--cyan-50);
	--chart-series-2-border: var(--cyan-100);
	--chart-series-2-fill: var(--cyan-400);
	--chart-series-2-fill-strong: var(--cyan-500);
	--chart-series-2-text: var(--cyan-600);

	/* 3: orange */
	--chart-series-3-bg: var(--orange-50);
	--chart-series-3-border: var(--orange-100);
	--chart-series-3-fill: var(--orange-400);
	--chart-series-3-fill-strong: var(--orange-500);
	--chart-series-3-text: var(--orange-600);

	/* 4: blue */
	--chart-series-4-bg: var(--blue-50);
	--chart-series-4-border: var(--blue-100);
	--chart-series-4-fill: var(--blue-500);
	--chart-series-4-fill-strong: var(--blue-600);
	--chart-series-4-text: var(--blue-700);

	/* ext */
	--chart-series-ext-01: var(--red-500);
	--chart-series-ext-02: var(--blue-500);
	--chart-series-ext-03: var(--blue-800);
	--chart-series-ext-04: var(--orange-400);
	--chart-series-ext-05: var(--green-400);
	--chart-series-ext-06: var(--pink-400);
	--chart-series-ext-07: var(--slate-500);
	--chart-series-ext-08: var(--purple-800);
	--chart-series-ext-09: var(--yellow-600);
	--chart-series-ext-10: var(--cyan-500);

	/* darkness & lightness */
	--darker10: var(--black-100);
	--darker20: var(--black-200);
	--darker30: var(--black-300);
	--darker40: var(--black-400);
	--darker50: var(--black-500);
	--darker60: var(--black-600);
	--darker70: var(--black-700);
	--darker80: var(--black-800);

	--lighter10: var(--white-100);
	--lighter20: var(--white-200);
	--lighter30: var(--white-300);
	--lighter40: var(--white-400);
	--lighter50: var(--white-500);
	--lighter60: var(--white-600);
	--lighter70: var(--white-700);
	--lighter80: var(--white-800);
}

/* 2026-04-09 : 순차적으로 시맨틱과 컴포넌트로 분리할 목적으로 추가된 스타일 */
/* Semantic Tokens */
:root {
	/* base > subtle > muted > strong > stronger > heavy */
	--surface-neutral-base: var(--white-900);
	--surface-neutral-subtle: var(--slate-50);
	--surface-neutral-muted: var(--slate-100);
	--surface-neutral-strong: var(--slate-200);
	
	--border-neutral-base: var(--slate-50);
	--border-neutral-subtle: var(--slate-100);
	--border-neutral-muted: var(--slate-200);
	--border-neutral-strong: var(--slate-300);
	
	--surface-primary: var(--blue-500);
	--surface-primary-strong: var(--blue-600);
	--surface-primary-stronger: var(--blue-700);
	--surface-primary-heavy: var(--blue-800);
	--surface-primary-subtle: var(--blue-100);
	--surface-secondary: var(--slate-600);
	--surface-danger: var(--red-600);
	--surface-warning: var(--yellow-600);
	--surface-success: var(--green-600);
	--surface-info: var(--cyan-500);
	--surface-info-strong: var(--cyan-600);
	--surface-info-stronger: var(--cyan-700);
	--surface-info-heavy: var(--cyan-800);
	--surface-info-subtle: var(--cyan-100);
	
	--border-primary: var(--blue-600);
	--border-primary-strong: var(--blue-700);
	--border-primary-subtle: var(--blue-200);
	--border-secondary: var(--slate-600);
	--border-secondary-strong: var(--slate-700);
	--border-danger: var(--red-600);
	--border-danger-strong: var(--red-700);
	--border-warning: var(--yellow-600);
	--border-warning-strong: var(--yellow-700);
	--border-success: var(--green-600);
	--border-success-strong: var(--green-700);
	--border-info: var(--cyan-600);
	--border-info-strong: var(--cyan-700);
	--border-info-stronger: var(--cyan-800);
	--border-info-subtle: var(--cyan-200);
	
	--text-base: var(--slate-900);
	--text-subtle: var(--slate-700);
	--text-muted: var(--slate-100);
	--text-strong: var(--slate-200);
	
	--text-primary: var(--blue-500);
	--text-primary-strong: var(--blue-600);
	--text-primary-stronger: var(--blue-700);
	--text-secondary: var(--slate-500);
	--text-secondary-strong: var(--slate-600);
	--text-secondary-stronger: var(--slate-700);
	--text-danger: var(--red-500);
	--text-danger-strong: var(--red-600);
	--text-danger-stronger: var(--red-700);
	--text-warning: var(--yellow-500);
	--text-warning-strong: var(--yellow-600);
	--text-warning-stronger: var(--yellow-700);
	--text-success: var(--green-500);
	--text-success-strong: var(--green-600);
	--text-success-stronger: var(--green-700);
	--text-info: var(--cyan-500);
	--text-info-strong: var(--cyan-600);
	--text-info-stronger: var(--cyan-700);
	--text-inverse: var(--white-900);
}

/* Bootstrap Override */
:root {
	/* btn */
	--bs-border-radius: var(--radius-sm);
	--bs-border-radius-xs: calc(var(--radius-sm) * 0.5);
	
	/* border */
	--bs-border-color: var(--border-neutral-default);
	
	/* BS override style */
	--bs-heading-color: var(--text-neutral-onneutralsecondary);
	--bs-body-bg: var(--bg-default-default);
	--bs-body-color: var(--text-default-default);
	
	--bs-box-shadow-lg: var(--box-shadow-3);
	
	--bs-nav-link-font-size: 1rem;
	
	--bs-nav-link-color: var(--text-neutral-default);
	--bs-nav-link-hover-color: var(--text-brand-default);
	--bs-nav-underline-link-active-color: var(--text-brand-default);
	--bs-nav-pills-link-active-bg: var(--bg-brand-default);
	--bs-primary-rgb: var(--primary-rgb);
	
	--bs-link-color: var(--bg-neutral-inversehover);
	--bs-link-hover-color: var(--text-brand-secondary);
	--bs-secondary-color: var(--slate-500);
	--bs-emphasis-color: var(--text-brand-default);

    --bs-toast-color: var(--text-neutral-default);
    --bs-toast-bg: var(--bg-default-default);
	--bs-toast-header-bg: var(--bg-danger-tertiary);
	--bs-toast-header-color: var(--text-neutral-default);
	--bs-btn-bg: var(--bg-default-default);
}

/* Component Tokens */
:root {
	
	/* Box */
	--box-bg-neutral-base: var(--surface-neutral-base);
	--box-bg-neutral-subtle: var(--surface-neutral-subtle);
	--box-bg-neutral-muted: var(--surface-neutral-muted);
	--box-bg-neutral-strong: var(--surface-neutral-strong);
	
	--box-border-neutral-base: var(--border-neutral-base);
	--box-border-neutral-subtle: var(--border-neutral-subtle);
	--box-border-neutral-muted: var(--border-neutral-muted);
	--box-border-neutral-strong: var(--border-neutral-strong);
	
	/* box-bg-primary */
	--box-bg-primary: var(--surface-primary);
	--box-bg-primary-strong: var(--surface-primary-strong);
	--box-bg-primary-stronger: var(--surface-primary-stronger);
	--box-bg-primary-subtle: var(--surface-primary-subtle);
	
	/* border-bg-primary */
	--box-border-primary: var(--border-primary);
	--box-border-primary-strong: var(--border-primary-strong);
	--box-border-primary-subtle: var(--border-primary-subtle);
	
	/* box-bg-info */
	--box-bg-info: var(--surface-info);
	--box-bg-info-strong: var(--surface-info-strong);
	--box-bg-info-stronger: var(--surface-info-stronger);
	--box-bg-info-subtle: var(--surface-info-subtle);
	
	/* border-bg-info */
	--box-border-info: var(--border-info);
	--box-border-info-strong: var(--border-info-strong);
	--box-border-info-stronger: var(--border-info-stronger);
	--box-border-info-subtle: var(--border-info-subtle);
	
	/* box-title */
	--box-title-neutral: var(--text-base);
	--box-title-primary: var(--text-primary);
	--box-title-primary-strong: var(--text-primary-strong);
	--box-title-primary-stronger: var(--text-primary-stronger);
	--box-title-danger: var(--text-danger);
	--box-title-danger-strong: var(--text-danger-strong);
	--box-title-danger-stronger: var(--text-danger-stronger);
	--box-title-info: var(--text-info);
	--box-title-info-strong: var(--text-info-strong);
	--box-title-info-stronger: var(--text-info-stronger);
	--box-title-inverse: var(--text-inverse);
	
	/* layout */
	--grid-gap: 16px;
	--grid-auto-min: 160px;
	
	--grid-item-bg: var(--surface-base);
	--grid-item-border: var(--border-subtle);
	--grid-item-padding: 16px;
	--grid-item-radius: 8px;
	
	--form-block-bg: var(--surface-base);
	--form-block-border: var(--border-subtle);
}

@media (min-width: 768px) {
	:root {
		--grid-auto-min: 240px;
	}
}

@media (min-width: 992px) {
	:root {
		--grid-auto-min: 360px;
	}
}

@media (min-width: 1200px) {
	:root {
		--grid-auto-min: 400px;
	}
}