@charset "utf-8";
/*
20250109 yjkim
SVGwrapper 전용 스타일로 뷰어의 바깥 요소에 사용되는 스타일
iPOS 에서는 modal.css 에서 사용하고 있음
*/
.btn.disabled {
	cursor: default;
	pointer-events: auto;
}

/* svg-wrapper */
.svg-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.svg-wrapper .viewer,
.svg-wrapper .datalist {
	flex: 1 0 100%;
	max-width: 100%;
}

@media(min-width: 1600px) {
	.svg-wrapper {
		height: 100vh;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: space-between;
		overflow: hidden;
	}
	/*
	.svg-wrapper .viewer {
		flex: 1 0 auto;
		max-width: calc(100% - 320px - 1rem);
	}
	*/
	
	/* 20251128 yjkim start - datalist 사용 안하기로 함 */
	.svg-wrapper .viewer {
		flex: 1 0 100%;
		max-width: 100%;
	}
	/* 20251128 yjkim end  */
	
	.svg-wrapper .datalist {
		flex: 1 0 320px;
		max-width: 320px;
	}
	
}

/* viewer */
.viewer {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: .25rem;
}

.viewer-header {
	flex: 1 0 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: .5rem;
}

.viewer-header >* {
	flex: 1;
	display: flex;
	align-items: center;
	gap: .5rem;
}

.viewer-header .svg-title .btn {
	--bs-btn-padding-x: .75rem;
}

.viewer-header .svg-links {
	justify-content: flex-end;
}

.viewer-body {
	flex: 1;
}
/*
.viewer-body:only-child {
	height: 100%;
	box-shadow: 0 0 4px 0 rgba(214, 218, 229, 80%);
}*/
#svgarea {
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: var(--svg-bg);
	
	border: 1px solid var(--svg-border);
	border-radius: .25rem;
	overflow: hidden;
}

/* datalist */
.datalist {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: .25rem;
}

.datalist-header {
	flex: 1 0 100%;
	max-width: 100%;
	
	display: flex;
	align-items: center;
	gap: .25rem;
}
.datalist-body {
	flex: 1;
	height: calc(100% - 36px - .25rem);
}

.datalist .form-select {
	flex: 1 0 5rem;
}

.datalist [class*='form-'] {
	height: 36px;
}

/* form elements */
.form-select {
	color: var(--form-text);
	
	border: 1px solid var(--form-border);
	border-radius: .25rem;
	overflow: hidden;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background-image: url('../images/icon-keyboard_arrow_down-gray.svg');
	background-repeat: no-repeat;
	background-position: right .25rem center;
	background-size: auto 24px;
}

.form-control {
	color: var(--form-text);
	border: 1px solid var(--form-border);
	border-radius: .25rem;
	overflow: hidden;
}
.form-control::placeholder {
	opacity: .8;
	font-weight: 400;
}

/* table-responsive */
.table-responsive {
	border-top: 1px solid var(--table-top-border);
	margin-bottom: 0;
}

.table-responsive:has(.table[aria-label="결과값"]) {
	height: 360px;
}

@media(min-width: 1600px) {
	.table-responsive:has(.table[aria-label="결과값"]) {
		height: 100%;
	}
}

.table {
	border-collapse:separate;
	border-spacing: 0;
	margin-bottom: 0;
}

.table thead {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--table-th-bg-subtle);
}

.table thead th {
	background-color: var(--table-th-bg-subtle);
}

.table th,
.table td {
	border-color: var(--table-th-bg);
}

/* 순번칼럼 너비 */
.table[aria-label="결과값"] [data-field="순번"] {
	width: 5rem;
	text-align: center;
}

/* ID칼럼 너비 */
.table[aria-label="결과값"] [data-field="ID"] {
	width: 6rem;
}
.table[aria-label="결과값"] [data-field="Utag"] {
	width: 6rem;
}


/* 아이콘 버튼과 함께 사용 */
.btn {
	--bs-btn-padding-x: .25rem;
	height: 32px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .5rem;
}

.btn > .icon[class*='icon-'] {
	width: 24px;
	height: 24px;
	display: inline-flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}

.btn > .icon + span {
    flex: 1;
}

/* icons */
.icon-acute {
	background-image: url(../images/icon-acute-gray.svg);
}
.icon-arrow_split {
	background-image: url(../images/icon-arrow_split-gray.svg);
}
.icon-article {
	background-image: url(../images/icon-article-gray.svg);
}
.icon-construction {
	background-image: url(../images/icon-construction-gray.svg);
}
.icon-controller_gen {
	background-image: url(../images/icon-controller_gen-gray.svg);
}
.icon-content_paste_go {
	background-image: url(../images/icon-content_paste_go-gray.svg);
}
.icon-conversion_path {
	background-image: url(../images/icon-conversion_path-gray.svg);
}
.icon-description {
	background-image: url(../images/icon-description-white.svg);
}
.icon-developer_guide {
	background-image: url(../images/icon-developer_guide-gray.svg);
}
.icon-lab_profile {
	background-image: url(../images/icon-lab_profile-gray.svg);
}
.icon-lab_profile {
	background-image: url(../images/icon-lab_profile-gray.svg);
}
.icon-replay {
	background-image: url(../images/icon-replay-white.svg);
}
.icon-search {
	background-image: url(../images/icon-search-white.svg);
}
.icon-swap_driving_apps_wheel {
	background-image: url(../images/icon-swap_driving_apps_wheel-gray.svg);
}

/* outline 일때 아이콘 반전 */
.btn-outline-primary {
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--border-primary);
}

.btn-outline-primary .icon-acute {
	background-image: url(../images/icon-acute-primary.svg);
}
.btn-outline-primary .icon-arrow_split {
	background-image: url(../images/icon-arrow_split-primary.svg);
}
.btn-outline-primary .icon-article {
	background-image: url(../images/icon-article-primary.svg);
}
.btn-outline-primary .icon-construction {
	background-image: url(../images/icon-construction-primary.svg);
}
.btn-outline-primary .icon-controller_gen {
	background-image: url(../images/icon-controller_gen-primary.svg);
}
.btn-outline-primary .icon-content_paste_go {
	background-image: url(../images/icon-content_paste_go-primary.svg);
}
.btn-outline-primary .icon-conversion_path {
	background-image: url(../images/icon-conversion_path-primary.svg);
}
.btn-outline-primary .icon-description {
	background-image: url(../images/icon-description-primary.svg);
}
.btn-outline-primary .icon-developer_guide {
	background-image: url(../images/icon-developer_guide-primary.svg);
}
.btn-outline-primary .icon-lab_profile {
	background-image: url(../images/icon-lab_profile-primary.svg);
}
.btn-outline-primary .icon-lab_profile {
	background-image: url(../images/icon-lab_profile-primary.svg);
}
.btn-outline-primary .icon-replay {
	background-image: url(../images/icon-replay-primary.svg);
}
.btn-outline-primary:hover .icon-replay {
	background-image: url(../images/icon-replay-white.svg);
}
.btn-outline-primary .icon-search {
	background-image: url(../images/icon-search-primary.svg);
}
.btn-outline-primary .icon-swap_driving_apps_wheel {
	background-image: url(../images/icon-swap_driving_apps_wheel-primary.svg);
}
